{include file="common/common_header" /}
{include file="common/common_menu" /}

<!--页面主要内容-->
<main class="lyear-layout-content">

    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        {notempty name="info" }
                        <form id="inputForm" action="{:url('editDepositeCard')}" method="post" class="row">
                            {else /}
                            <form id="inputForm" action="{:url('adddepositecard')}" method="post" class="row">
                                {/notempty}


                                <div class="form-group hidden col-md-12 ">
                                    <label for="id">ID：</label>
                                    <input type="hidden" class="form-control " id="id" name="id"
                                           value="{:isset($info.id)?$info.id:''}">
                                </div>


                                <div class="form-group col-md-12">
                                    <label for="type">开户银行</label>
                                    <div class="form-controls">
                                        <select name="bank_id" class="form-control">
                                            {foreach name="bank" item='v' key='k'}
                                            <option {if condition="isset($info) && $info['bank_id']==$v['id']" }selected{/if} value="{$v.id}">{$v.name}</option>
                                            {/foreach}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <label for="type">代付商户</label>
                                    <div class="form-controls">
                                        <select name="uid" class="form-control">
                                            {foreach name="users" item='v' key='k'}
                                            <option {if condition="isset($info) && $info['uid']==$v['uid']"
                                                    }selected{
                                            /if} value="{$v.uid}">{$v.username}</option>
                                            {/foreach}
                                        </select>
                                    </div>
                                </div>




                                <div class="form-group col-md-12 ">
                                    <label for="bank_account_username">银行账户名：</label>
                                    <input type="text" class="form-control" id="bank_account_username"
                                           name="bank_account_username"
                                           value="{:isset($info.bank_account_username)?$info.bank_account_username:''}"
                                           placeholder="银行账户名">
                                </div>


                                <div class="form-group col-md-12 ">
                                    <label for="bank_account_number">银行卡号：</label>
                                    <input type="text" class="form-control" id="bank_account_number"
                                           name="bank_account_number"
                                           value="{:isset($info.bank_account_number)?$info.bank_account_number:''}"
                                           placeholder="银行卡号">
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label for="bank_account_address">支行名称：</label>
                                    <input type="text" class="form-control" id="bank_account_address"
                                           name="bank_account_address"
                                           value="{:isset($info.bank_account_address)?$info.bank_account_address:''}"
                                           placeholder="支行名称">
                                </div>

                                <div class="form-group col-md-12">
                                    <label>状态</label>
                                    <div class="col-xs-12">
                                        <label class="radio-inline" for="status_0">
                                            <input type="radio" id="status_0" name="status" value="1" placeholder="启用"
                                                   {:isset($info.status) && $info.status==1 ? 'checked="checked"' : ''}
                                            />
                                            启用
                                        </label>
                                        <label class="radio-inline" for="status_1">
                                            <input type="radio" id="status_1" name="status" value="0" placeholder="禁用"
                                                   {:isset($info.status) && $info.status==0 ? 'checked="checked"' : ''}
                                            />
                                            禁用
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <button type="submit" class="btn btn-primary ajax-post" target-form="add-form">确 定
                                    </button>
                                    <button type="button" class="btn btn-default"
                                            onclick="javascript:history.back(-1);return false;">返 回
                                    </button>
                                </div>
                            </form>

                    </div>
                </div>
            </div>

        </div>

    </div>

</main>
<!--End 页面主要内容-->
</div>
</div>

{include file="common/common_js" /}
</body>
</html>