{include file="common/common_header" /}
{include file="common/common_menu" /}
<link rel="stylesheet" href="__MS__/layui/css/layui.css">
<!--页面主要内容-->
<main class="lyear-layout-content">

    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-toolbar clearfix">
                        <form class="form-inline pull-right " method="get" action="#!" role="form">
                            <div class="form-group">
                                <label class="sr-only" >开始时间</label>
                                <input type="text" class="layui-input" id="start_time" name="start_time" value="{$start_time}" placeholder="请选择开始时间">
                                <!--<input class="form-control js-datetimepicker " type="text" id="example-datetimepicker" name="start_time"   placeholder="请选择开始时间" value="{:input('start_time',date('Y-m-d'),'trim')}" data-side-by-side="true" data-locale="zh-cn"  data-date-format="YYYY-MM-DD HH:mm" />-->
                            </div>

                            <div class="form-group ">
                                <label class="sr-only" >结束时间</label>
                                <input type="text" class="layui-input" id="end_time" name="end_time" value="{$end_time}" placeholder="请选择结束时间">
                                <!--<input class="form-control js-datetimepicker" type="text" id="example-datetimepicker2" name="end_time" placeholder="请选择结束时间" value="{:input('end_time',date('Y-m-d',strtotime('+1 day')),'trim')}" data-side-by-side="true" data-locale="zh-cn"   data-date-format="YYYY-MM-DD HH:mm" />-->
                            </div>
                            <div class="form-group">
                                <label class="sr-only" >搜索</label>
                                <button class="btn btn-primary form-control" type="submit">搜索</button>
                            </div>
                        </form>

                    </div>
                    <div class="card-body">

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>类型</th>
                                    <th>收款人</th>
                                    <th>账号名称</th>
<!--                                    {if condition="$pay_code neq 'alipayUidTransfer' || $pay_code neq 'alipayCode'"}-->
                                    <th>收款账号</th>
<!--                                    {/if}-->
                                    <th>订单总数</th>
                                    <th>成功订单总数</th>
                                    <th>总金额</th>
                                    <th>成功金额</th>
                                    <th>成功率</th>
                                    <th>利润</th>
                                </tr>
                                </thead>
                                <tbody>
                                {foreach $list as $v}
                                <tr>
                                    <td style="font-size:10px;">{$v.name}</td>
                                    <td style="font-size:10px;">{$v.account_name}</td>
                                    <td style="font-size:10px;">{$v.bank_name}</td>
<!--                                    {if condition="$pay_code neq 'alipayCode' || $pay_code neq 'alipayCode'"}-->
                                    <td style="font-size:10px;">{$v.account_number}</td>
<!--                                    {/if}-->
                                    <td style="font-size:10px;">{$v.total_number}</td>
                                    <td style="font-size:10px;">{$v.success_number}</td>
                                    <td style="font-size:10px;">{$v.total_amount|default='0.00'}元</td>
                                    <td style="font-size:10px;">{$v.success_amount|default='0.00'}元</td>
                                    <td style="font-size:10px;">{$v.success_percent|default='0'}%</td>
                                    <td style="font-size:10px;">{$v.bonus_fee|default='0.00'}元</td>

                                </tr>
                                {/foreach}


                                </tbody>
                            </table>
                        </div>
                        {$page}


                    </div>
                </div>
            </div>

        </div>

    </div>

</main>
<!--End 页面主要内容-->
</div>
</div>

{include file="common/common_js" /}
<script type="text/javascript" src="__MS__/layui/layui.js"></script>
<script type="text/javascript">
    $(function(){
        $('.search-bar .dropdown-menu a').click(function() {
            var field = $(this).data('field') || '';
            $('#search-field').val(field);
            $('#search-btn').html($(this).text() + ' <span class="caret"></span>');
        });
    });

    layui.use('laydate', function() {
        var laydate = layui.laydate;


        //日期时间选择器
        laydate.render({
            elem: '#start_time'
            ,type: 'datetime'
        });

        //日期时间选择器
        laydate.render({
            elem: '#end_time'
            ,type: 'datetime'
        });

    })
</script>
</body>
</html>