<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>下级服务商订单 - 服务商管理 - 码商管理后台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {include file="/common/link"}
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="table-search-fieldset">
            <legend>高级搜索</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">通道</label>
                            <div class="layui-input-inline">
                                <select class="layui-select" name="code_type">
                                    <option value="">全部</option>
                                    {volist name="pay_code" id="vo"}
                                    <option value="{$vo.id}">{$vo.name}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">平台单号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="trade_no" autocomplete="off" placeholder="请输入平台单号" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">服务商名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="username" autocomplete="off" placeholder="请输入服务商名称" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">订单状态</label>
                            <div class="layui-input-inline">
                                <select class="layui-select" name="status">
                                    <option value="">全部</option>
                                    <option value="1">交易成功</option>
                                    <option value="0">待处理</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">商户单号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="merchant_order_no" autocomplete="off" placeholder="请输入商户单号" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">下单时间</label>
                            <div class="layui-inline" id="test-range">
                                <div class="layui-input-inline">
                                    <input type="text" id="startDate" name="startDate" autocomplete="off" class="layui-input" placeholder="开始日期">
                                </div>
                                <div class="layui-form-mid">-</div>
                                <div class="layui-input-inline">
                                    <input type="text" id="endDate" name="endDate" autocomplete="off" class="layui-input" placeholder="结束日期">
                                </div>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>



        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
        <script type="text/html" id="buttonStatus">
            {{#  if(d.status == 1){ }}
            <button class="layui-btn layui-btn-xs">支付完成</button>
            {{#  } else{ }}
            <button class="layui-btn layui-btn-warm layui-btn-xs">等待支付</button>
            {{#  } }}
        </script>
        <script type="text/html" id="buttonIsStatus">
            {{#  if(d.is_status == '200'){ }}
            <button class="layui-btn layui-btn-xs">回调成功</button>
            {{#  } else if(d.is_status == '404'){ }}
            <button class="layui-btn layui-btn-danger layui-btn-xs" >回调失败</button>
            {{#  } else{ }}
            <button class="layui-btn layui-btn-warm layui-btn-xs">等待支付</button>
            {{#  } }}
        </script>

    </div>
</div>
</body>
</html>
{include file="common/js"}
<script>
    layui.use(['form', 'table','laydate'], function () {
        var $ = layui.jquery,
            form = layui.form,
            u = layui.util,
            laydate = layui.laydate,
            table = layui.table;



        laydate.render({
            elem: '#startDate'
            ,type: 'datetime'

        });

        laydate.render({
            elem: '#endDate'
            ,type: 'datetime'
        });

        table.render({
            elem: '#currentTableId',
            url: "{:url('MsSon/getSonOrders')}",
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [[
                {field: 'name', align: "center", title: '通道'},
                {field: 'order_no', align: "center", title: '平台单号'},
                {field: 'username', align: "center", title: '服务商'},
                {field: 'merchant_order_no', align: "center",  title: '商户单号'},
                {field: 'order_pay_price', align: "center", title: '交易金额'},
                {field: 'bonus_fee', align: "center", title: '提成',width: 100},
                {field: 'add_time', align: "center", title: '下单时间', templet: function (d) {
                        return u.toDateString(d.add_time * 1000);
                    }},
                {field: 'pay_time', align: "center", title: '完成时间', templet: function (d) {
                    var time = ''
                        if (d.pay_time == null){
                            time = '---'
                        }else{
                            time = u.toDateString(d.pay_time * 1000)
                        }
                        return time;
                    }},
                {field: 'status', align: "center", title: '订单状态',templet: "#buttonStatus"},
                // {field: 'is_status', align: "center", title: '回调状态',templet: "#buttonIsStatus"},
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true,
            skin: 'line'
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            //执行搜索重载
            table.reload('currentTableId', {
                where: data.field,
                page: {
                    curr: 1
                }
            }, 'data');

            return false;
        });



    });
</script>
