<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>设置下级费率 - 服务商管理 - 码商管理后台</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  {include file="/common/link"}
</head>
<body>
<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-form">

<!--      &lt;!&ndash;产品列表&ndash;&gt;-->
<!--      <table class="layui-table" lay-even="" lay-skin="line">-->
<!--        <thead>-->
<!--        <tr>-->
<!--          &lt;!&ndash;          <th>编号</th>&ndash;&gt;-->
<!--          <th>渠道名称</th>-->
<!--          <th>自身费率(%)</th>-->
<!--          <th>设置下级费率(%)</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        {volist name="list" id="vo"}-->
<!--        <tr>-->
<!--          <input type="text" name="r[{$vo.id}][ms_id]" hidden value="{$Request.get.userid}">-->
<!--          <input type="text" name="r[{$vo.id}][code_type_id]" hidden value="{$vo.id}">-->
<!--          &lt;!&ndash;          <td>{$vo.id}</td>&ndash;&gt;-->
<!--          <td>{$vo.name}</td>-->
<!--          <td>-->
<!--            <div class="layui-input-inline" style="width: 100px;">-->
<!--              <input type="text" disabled name="r[{$vo.id}][my_rate]" placeholder="" autocomplete="off" class="layui-input" value="{$vo.my_rate}">-->
<!--            </div>-->
<!--          </td>-->

<!--          <td>-->
<!--            <div class="layui-input-inline" style="width: 100px;">-->
<!--              <input type="text" name="r[{$vo.id}][son_rate]" placeholder="" autocomplete="off" class="layui-input" value="{$vo.son_rate}">-->
<!--            </div>-->
<!--          </td>-->
<!--        </tr>-->
<!--        {/volist}-->
<!--        </tbody>-->
<!--      </table>-->

      <table class="layui-table">
        <colgroup>
          <col width="150">
          <col width="200">
          <col>
        </colgroup>
        <thead>
        <tr>
          <th>渠道名称</th>
          <th>自身费率(%)</th>
          <th>设置下级费率(%)</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo"}
        <input type="text" name="r[{$vo.id}][ms_id]" hidden value="{$Request.get.userid}">
        <input type="text" name="r[{$vo.id}][code_type_id]" hidden value="{$vo.id}">
        <tr>
          <td>{$vo.name}</td>
          <td>
            <div class="layui-input-inline" style="width: 100px;">
              <input type="text" disabled name="r[{$vo.id}][my_rate]" placeholder="" autocomplete="off" class="layui-input" value="{$vo.my_rate}">
            </div>
          </td>
          <td>
            <div class="layui-input-inline" style="width: 100px;">
              <input type="text"  name="r[{$vo.id}][son_rate]" placeholder="" autocomplete="off" class="layui-input" value="{$vo.son_rate}">
            </div>
          </td>
        </tr>
        {/volist}
        </tbody>
      </table>


      <div class="layui-form-item layui-hide">
        <input type="button" lay-submit="" lay-filter="demo1" id="app-user-profit-submit" value="确认">
      </div>
    </div>
  </div>
</div>
</body>
</html>
{include file="common/js"}
<script>
  layui.use(['element','form', 'table'], function (exports) {
    var $ = layui.jquery,
            element = layui.element,
            u = layui.util,
            form = layui.form,
            table = layui.table;

    form.on('submit(demo1)', function (data) {
      $.post("{:url('sysSonRate')}",data.field,function (res){
        if (res.code == 1){
          layer.msg(res.msg,{icon:1,time:1500},function (){
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index); //再执行关闭
          })
        }else{
          layer.msg(res.msg,{icon:2,time:1500},function (){
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index); //再执行关闭
          })
        }
      })
    });
  })
</script>