<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>狂神科技|狂神聚合支付  - 短信详情</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="__MS__/layui/css/layui.css" media="all">
</head>
<body>

<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin" style="padding: 20px 30px 0 0;">
      <table class="layui-table" lay-skin="line">
        <tr><td>短信id：</td><td>{$sms.id}</td></tr>
        <tr><td>短信号码：</td><td>{$sms.phone}</td></tr>
        <tr><td>短信内容：</td><td><strong class="text-success">{$sms.context}</strong></td></tr>
        <tr><td>码商ID：</td><td><strong class="text-danger" style="color:red">{$sms.ms_id}</strong></td></tr>
        <tr><td>短信来源IP：</td><td><strong class="text-danger" style="color:green">{$sms.ip}</strong></td></tr>
        <tr><td>短信时间：</td><td><strong class="text-danger" style="color:grey">{:date('Y-m-d H:i:s',$sms.create_time)}</strong></td></tr>
      </table>
      <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="app-order-details" id="app-order-details" value="确认">
      </div>
    </div>
  </div>
</div>

<script src="__MS__/layui/layui.js"></script>

</body>
</html>