{include file="common/common_header" /}
<style>
    .lyear-wrapper {
        position: relative;
    }
    .lyear-login {
        display: flex !important;
        min-height: 100vh;
        align-items: center !important;
        justify-content: center !important;
    }
    .lyear-login:after{
        content:'';
        min-height:inherit;
        font-size:0;
    }
    .login-center {
        background: #fff;
        min-width: 29.25rem;
        padding: 2.14286em 3.57143em;
        border-radius: 5px;
        margin: 2.85714em;
    }
    .login-header {
        margin-bottom: 1.5rem !important;
    }
    .login-center .has-feedback.feedback-left .form-control {
        padding-left: 38px;
        padding-right: 12px;
    }
    .login-center .has-feedback.feedback-left .form-control-feedback {
        left: 0;
        right: auto;
        width: 38px;
        height: 38px;
        line-height: 38px;
        z-index: 4;
        color: #dcdcdc;
    }
    .login-center .has-feedback.feedback-left.row .form-control-feedback {
        left: 15px;
    }
</style>
<body>
<div class="row lyear-wrapper">
    <div class="lyear-login">
        <div class="login-center">
            <div class="login-header text-center">
                <!--<a href="index.html"> <img alt="light year admin" src="__AGENT__/images/logo-sidebar.png"> </a>-->
                <h2>码商管理后台</h2>
            </div>
            <form  id="inputForm" method="post">
                <div class="form-group has-feedback feedback-left">
                    <input type="text" placeholder="请输入您的用户名" class="form-control" name="account" id="account" />
                    <span class="mdi mdi-account form-control-feedback" aria-hidden="true"></span>
                </div>
                <div class="form-group has-feedback feedback-left">
                    <input type="password" placeholder="请输入密码" class="form-control" id="password" name="password" />
                    <span class="mdi mdi-lock form-control-feedback" aria-hidden="true"></span>
                </div>

                <div class="form-group has-feedback feedback-left">
                    <input type="text" placeholder="GOOGLE验证码,未设置不需要填写" class="form-control" name="code" id="code" />
                    <span class="mdi mdi-account form-control-feedback" aria-hidden="true"></span>
                </div>

                <div class="form-group has-feedback feedback-left row">
                    <div class="col-xs-7">
                        <input type="text" name="verfy_code" class="form-control" placeholder="验证码">
                        <span class="mdi mdi-check-all form-control-feedback" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-5">
                        <img id="verfyImg" onclick="this.src='{:url(\'verfy_img\')}?'+Math.random();" src="{:url('verfy_img',[''])}" title="点击刷新" alt="captcha">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-block btn-primary" type="submit" id="example-success-notify" >立即登录</button>
                </div>
            </form>
            <hr>
<!--            <footer class="col-sm-12 text-left">-->
<!--                <p class="m-b-0">-->
<!--                   <a href="/checkAppWork/appWorkV2.html" target="_blank" >监控手册</a>-->
<!--                   <a href="/checkAppWork/noticeCheck-release.apk" target="_blank">监控app下载</a>-->
<!--                   <a href="/checkAppWork/app.apk" target="_blank">客户端下载</a>-->
<!--                </p>-->
<!--            </footer>-->
            <!--<footer class="col-sm-12 text-center">-->
                <!--<p class="m-b-0">Copyright © 2019 <a href="http://lyear.itshubao.com">IT书包</a>. All right reserved</p>-->
            <!--</footer>-->
        </div>
    </div>
</div>
<script type="text/javascript" src="__MS__/js/jquery.min.js"></script>
<script type="text/javascript" src="__MS__/js/bootstrap.min.js"></script>
<script src="__MS__/js/bootstrap-notify.min.js"></script>
<script type="text/javascript" src="__MS__/js/lightyear.js"></script>
<script type="text/javascript" src="__COMMON__/js/jquery.form.js"></script>
<script type="text/javascript" src="__MS__/js/ajaxsubmit.js"></script>
<script type="text/javascript">
    /**
     *
     * 刷新验证码
     */
    function freshVerfyCode()
    {
        $("#verfyImg").trigger('click');
    }

    function showResponse(responseText, statusText, xhr, $form) {
        lightyear.loading('hide');
        if (responseText.code == 1) {
            lightyear.notify(responseText.msg, 'success', 3000);
        }else {
            freshVerfyCode()
            lightyear.notify(responseText.msg, 'danger', 100);
        }


        if(responseText.url) {
            setTimeout(function () {
                window.location.href = responseText.url;
            }, 1000)
        }
    }

    ;</script>
</body>
</html>
