{include file="common/common_header" /}
{include file="common/common_menu" /}
<link rel="stylesheet" href="__MS__/layui/css/layui.css">
<!--页面主要内容-->
<main class="lyear-layout-content">

    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-toolbar clearfix">



                    </div>
                    <div class="card-body">

                            <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                                <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label" style="width: 95px">开始时间</label>
                                <div class="layui-input-block">
                                    <input autocomplete="off" type="text" name="start" id="start"  class="layui-input app-laydate-item"  >
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label" style="width: 95px">结束时间</label>
                                <div class="layui-input-block">
                                    <input autocomplete="off"  type="text" name="end" id="end"  class="layui-input app-laydate-item" >
                                </div>
                            </div>
                            <div class="layui-inline">
                                <button  id="param_search" class="layui-btn layuiadmin-btn-order" lay-submit lay-filter="son-static-list-search">
                                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                                    搜素
                                </button>
                            </div>
                            </div>
                            </div>

                        <div class="table-responsive">
                            <table id="son-static-list"  class="layui-table" lay-filter="son-static-list"></table>
                        </div>



                    </div>
                </div>
            </div>

        </div>

    </div>

</main>
<!--End 页面主要内容-->
</div>
</div>

{include file="common/common_js" /}
<script type="text/javascript" src="__MS__/layui/layui.js"></script>
<script type="text/javascript" src="__MS__/layui/treeGrid.js"></script>
<script type="text/javascript">
    $(function(){
        $('.search-bar .dropdown-menu a').click(function() {
            var field = $(this).data('field') || '';
            $('#search-field').val(field);
            $('#search-btn').html($(this).text() + ' <span class="caret"></span>');
        });
    });



    layui.use([ 'layer','form', 'table','jquery','tree','treeGrid','laydate'], function() {
        var laydate = layui.laydate,
            $ = layui.jquery,
            i = layui.treeGrid,
            form = layui.form,
             table = layui.table,
            tableIns = layui.tableIns


        //监听搜索

        i.render({
            id:'son-static-list'
            ,elem: '#son-static-list'
            ,url: "{:url('getSonStatic')}"
            ,cellMinWidth: 100
            ,idField:'userid'//必須字段
            ,treeId:'userid'//树形id字段名称
            ,treeUpId:'pid'//树形父id字段名称
            ,treeShowName:'username'//以树形式显示的字段
            ,heightRemove:[".dHead",10]//不计算的高度,表格设定的是固定高度，此项不生效
            ,height:'100%'
            ,isFilter:false
            ,iconOpen:false//是否显示图标【默认显示】
            ,isOpenDefault:false//节点默认是展开还是折叠【默认展开】
            ,loading:true
            ,cols: [[{
                    field:'username',

                    title: '码商名称',
                }
                ,{
                    field:'total_number',

                    title: '订单总数'
                },
                {
                    title: "成功订单总数",
                    field: 'success_number',
                },
                {
                    title: "订单金额",
                    field: 'total_amount',
                },
                {
                    title: "成功订单金额",
                    field: 'success_amount',
                }
                , {
                    title: "成功率（%）",
                    field: 'success_rate',
                }

            ]]
            ,isPage:false
            ,parseData: function (res) {
                if(res.code == 1)
                {
                    return {
                        'code': 201, //接口状态
                        'msg': '无数据', //提示文本
                        'count': 0, //数据长度
                        'data': [] //数据列表，是直接填充进表格中的数组
                    }
                }
            },
        });


        lay('.app-laydate-item').each(function(k,v){
            var  timestamp=(k==0)?' 00:00:00':" 00:00:00";
            var date=new Date();
            date.setHours('00');date.setMinutes('00');date.setSeconds('00');
            if(k==1){
                date.setHours('23');date.setMinutes('59');date.setSeconds('59');
            }
            laydate.render({
                elem: this,
                format: 'yyyy-MM-dd',type:'datetime'
                ,istime:false
                ,value:date
                ,trigger: 'click'
            });
        });
        var tableIns = table.render()
        form.on('submit(son-static-list-search)', function(data){
            var field = data.field;
            console.log(data.field);
            //执行重载
            // $table = table.render({table})
            i.reload('son-static-list',{
                    // elem:'',
                    where: field,
                 url:'getSonStatic',
                 page :{
                    curr:1,
                }
            }, true);

        });

    })
</script>
</body>
</html>