{include file="common/common_header" /}
{include file="common/common_menu" /}
<!--<link rel="stylesheet" href="__AGENT__/layui/css/layui.css">-->
<!--页面主要内容-->
<main class="lyear-layout-content">

    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        <form id="inputForm" action="{:url('add')}" method="post" class="row ">

                            <div id="bank_show" >
                                <div class="form-group col-md-12">
                                    <label for="ms_name">用户名：</label>
                                    <input type="text" class="form-control" id="ms_name" name="ms_name" value="" placeholder="请输入码商名称" />
                                </div>

                                <div class="form-group col-md-12">
                                    <label for="ms_password">登录密码：</label>
                                    <input type="text" class="form-control" id="ms_password" name="ms_password" value="" placeholder="请输入登录密码" />
                                </div>

<!--                                <div class="form-group col-md-12">-->
<!--                                    <label for="ms_rate">跑卡佣金费率：</label>-->
<!--                                    <input type="text" class="form-control" id="ms_rate" name="ms_rate" value="" placeholder="请输入跑卡佣金费率" />-->
<!--                                </div>-->

                            </div>



                            <div class="form-group col-md-12">
                                <button type="submit" class="btn btn-primary ajax-post" target-form="add-form">确 定</button>
                                <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>

    </div>

</main>
<!--End 页面主要内容-->
</div>
</div>

{include file="common/common_js" /}
<script type="text/javascript" src="__MS__/layui//layui.js"></script>
<script>

    layui.use('upload', function(){
        var $ = layui.jquery
            ,upload = layui.upload;

    });

</script>

</body>
</html>
