{include file="common/common_header" /}
{include file="common/common_menu" /}
<link rel="stylesheet" href="__MS__/layui/css/layui.css">


<!--页面主要内容-->
<main class="lyear-layout-content">

    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-toolbar clearfix">
                        <form class="form-inline pull-right " method="get" action="#!" role="form">
                            <div class="form-group ">
                                <label class="sr-only" for="msname">所属码商</label>
                                <select name="status" class="form-control" id="msname">
                                    <option value="">请选择码商</option>
                                    {volist name="sonMs" id="vo"}
                                    <option value="{$vo.userid}">{$vo.username}</option>
                                    {/volist}
                                </select>
                            </div>


                            <div class="form-group">
                                <label class="sr-only" for="order_no">订单号</label>
                                <input class="form-control" type="text" id="order_no" name="order_no" value="{:input('order_no','','trim')}"  placeholder="请输入订单号">
                            </div>
                            <div style="display: inline-block">
                                <!--<label class="layui-form-label"></label>-->
                                <div class="layui-inline">
                                    <input type="text" name="gema_username"  value="{:input('gema_username','','trim')}"  placeholder="请输入账号名称" class="layui-input">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="sr-only" for="pay_username">付款人姓名</label>
                                <input class="form-control" type="text" id="pay_username" name="pay_username" value="{:input('pay_username','','trim')}"  placeholder="请输入付款人姓名">
                            </div>





                            <div class="form-group">
                                <label class="sr-only" >开始时间</label>
                                <input type="text" class="layui-input" id="start_time" name="start_time" value="{$start_time}" placeholder="请选择开始时间">
                                <!--<input class="form-control js-datetimepicker " type="text" id="example-datetimepicker" name="start_time"   placeholder="请选择开始时间" value="{:input('start_time',date('Y-m-d'),'trim')}" data-side-by-side="true" data-locale="zh-cn"  data-date-format="YYYY-MM-DD HH:mm" />-->
                            </div>

                            <div class="form-group ">
                                <label class="sr-only" >结束时间</label>
                                <input type="text" class="layui-input" id="end_time" name="end_time" value="{$end_time}" placeholder="请选择结束时间">
                                <!--<input class="form-control js-datetimepicker" type="text" id="example-datetimepicker2" name="end_time" placeholder="请选择结束时间" value="{:input('end_time',date('Y-m-d',strtotime('+1 day')),'trim')}" data-side-by-side="true" data-locale="zh-cn"   data-date-format="YYYY-MM-DD HH:mm" />-->
                            </div>

                            <div class="form-group">
                                <label class="sr-only" >搜索</label>
                                <button class="btn btn-primary form-control" type="submit">搜索</button>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" >重置</label>
                                <a href="{:url('Gema/index',['is_agent'=>1])}" class="btn btn-danger form-control" type="reset">重置</a>
                            </div>
                        </form>

                    </div>
                    <div class="card-body">

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>类型</th>
                                    <th>下级名称</th>
                                    <th>订单号</th>
                                    <th>订单金额</th>
                                    <th>二维码</th>
                                    <th>下单时间</th>
                                    <th>支付时间</th>
                                    <th>实际支付金额</th>
                                    <th>付款人姓名</th>
                                    <th>订单状态</th>

                                </tr>
                                </thead>
                                <tbody>
                                {volist name="sonOrder" id="data"}
                                <tr>
                                    <td >
                                        {switch name="$data.code_type" }
                                        {case value="1" }<img src="__PUBLIC__/static/icon/t_1.png" width="40%"  style="margin-left: 20%" >{/case}
                                        {case value="2"}<img src="__PUBLIC__/static/icon/t_2.png" width="40%" style="margin-left: 20%" >{/case}
                                        {case value="3"}银行卡{/case}
                                        {case value="4"}微信群红包{/case}
                                        {default /}
                                        {/switch}
                                    </td>
                                    <td>{php} echo $data['username'];{/php}</td>
                                    <td  >{php} echo $data['order_no'];{/php}</td>
                                    <!--<td>{php} echo $data['mobile'];{/php}</td>-->
                                    <!--<td>{php} echo $data['order_price'];{/php}</td>-->
                                    <td style="font-size: 20px ;color: red">{php} echo $data['order_price'];{/php}</td>
                                    <!--                                    <td style="font-size: 20px ;color: red">{php} echo $data['order_pay_price'];{/php}</td>-->
                                    <!--<td>{php} echo $data['bonus_fee'];{/php}</td>-->
                                    <!--<td>{$data.gema_username}</td>-->
                                    <!--<td>-->
                                    <!--if($data['bonus_fee']>0.0){-->
                                    <!--echo sprintf("%.2f",$data['order_price']-$data['bonus_fee']);-->
                                    <!--}else{-->
                                    <!--echo '0.00';-->
                                    <!--}-->
                                    <!--</td>-->
                                    <!--<td>{php} echo  $data['s_type_name'];{/php}</td>-->
                                    <td >
                                        {if  condition="$data['code_type']==4"}
                                        群名称:<span style="font-size: 20px ;color: red" >{$data.account_name|default='---'} </span><br>
                                        <a style="font-size: 20px ;color: green" name="查看"  title="点击查看二维码" class="label-pill" href="/{$data.qr_image}">点击查看二维码</a>
                                        {else/}
                                        收款姓名: <span style="font-size: 20px ;color: red" >{$data.account_name|default='---'}
										 收款帐号: <span style="font-size: 20px ;color: red" >{$data.account_number|default='---'} </span><br>
                                        收款银行: <span style="font-size: 20px ;color: red" >{$data.bank_name|default='---'} </span><br>
                                        <!--<span style="color: red">访问</span>-->
                                        {/if}

                                    </td>




                                    <!--{php} $is_upload_credentials_Msg=['否','是'] {/php}-->
                                    <!--<td>{php} echo $is_upload_credentials_Msg[$data['is_upload_credentials']];{/php}</td>-->

                                    <!--<td> <img onclick="openpic('{php} {/php}','600','650')" src="{php} echo $data.credentials;{php/}" style="width:30%"/></td>-->
                                    <td>{php} echo date('Y-m-d H:i:s',$data['add_time']);{/php}</td>
                                    <td>{php} if($data['pay_time']){ echo date('Y-m-d H:i:s',$data['pay_time']);}else{echo '---';}{/php}</td>
                                    <!--                                    <td>-->
                                    <!--                                        {if condition="$data['pay_username']"}-->
                                    <!--                                        {$data['pay_username']}-->
                                    <!--                                        {else/}-->
                                    <!--                                        -&#45;&#45;-->
                                    <!--                                        {/if}-->
                                    <!--                                    </td>-->

                                    <td>
                                        {$data.order_pay_price|default='----'}
                                    </td>

                                    <td>
                                        {$data.pay_username|default='----'}
                                    </td>
                                    <!-- <td>
                                         {$data.pay_user_name|default='----'}
                    </td>-->

                                    <!--<td>-->
                                    <!---->
                                    <!--</td>-->
                                    <!--<td>{php} echo $data['note'];{/php}</td>-->
                                    <td>
                                        {switch name="data.status" }
                                        {case value="0" }
                                        <button type="button"   class="btn btn-warning btn-xs ">未支付</button>
                                        {/case}
                                        {case value="1"}
                                        <button type="button"  class="btn btn-success btn-xs ">已支付</button>
                                        {/case}
                                        {case value="2"}
                                        <button type="button"   class="btn btn-danger btn-xs ">已关闭</button>
                                        {/case}
                                        {case value="3"}
                                        <button type="button"   class="btn btn-warning btn-xs ">已退款</button>
                                        {/case}
                                        {default /}无
                                        {/switch}
                                    </td>

                                </tr>
                                {/volist}


                                </tbody>
                            </table>
                        </div>
                        {$page}


                    </div>
                </div>
            </div>

        </div>

    </div>

</main>
<!--End 页面主要内容-->
</div>
</div>

{include file="common/common_js" /}
<script type="text/javascript" src="__MS__/layui/layui.js"></script>
<script type="text/javascript">



    $(function(){
        $('.search-bar .dropdown-menu a').click(function() {
            var field = $(this).data('field') || '';
            $('#search-field').val(field);
            $('#search-btn').html($(this).text() + ' <span class="caret"></span>');
        });
    });

    layui.use('laydate', function() {
        var laydate = layui.laydate;


        //日期时间选择器
        laydate.render({
            elem: '#start_time'
            ,type: 'datetime'
        });

        //日期时间选择器
        laydate.render({
            elem: '#end_time'
            ,type: 'datetime'
        });

    })

</script>
</body>
</html>
