{extend name="user-layout" /}
{block name="content"}
<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>编号</th>
                                <th>渠道编码</th>
                                <th>产品名称</th>
                                <!--<th>状态</th>-->
                                <th>费率</th>
                                <!--<th>用户分成</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            {volist name="list" id="vo"}
                            <tr>
                                <input type="text" name="r[{$vo.co_id}][uid]" hidden value="{$Request.get.co_id}">
                                <input type="text" name="r[{$vo.co_id}][cnl_id]" hidden value="{$vo.co_id}">

                                <td>{$vo.co_id}</td>
                                <td>{$vo.code}</td>
                                <td>{$vo.code_name}</td>
                                <!--<td>-->
                                <!--<label class="badge badge-success">渠道正常</label>-->
                                <!--</td>-->
                                <td style="font-size: 20px;font-weight: bold">
                                    {if condition="bcsub(1,$vo['urate'],3) eq 1"}
                                    未设置
                                    {else/}
                                    {php} echo bcsub(1,$vo['urate'],3)*100;{/php}%
                                    {/if}
                                </td>

                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                    </div>
                    {empty name="list"}
                    <div class="card" id="context-menu-multi">
                        <div class="card-body">
                            <p class="card-text text-center text-danger">
                                <i class="icon-compass"></i>
                                暂无数据...
                            </p>
                        </div>
                    </div>
                    {/empty}
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="pagejs"}
<script src="__STATIC__/cloudui/js/formpickers.js"></script>
{/block}