.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-static-top {
    border: 0;
    margin-bottom: 0px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ccc;
}
/*
 * Sidebar
 */
/* Hide for mobile, show later */
.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 48px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #222;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-left: -20px;
}

.nav-sidebar > li > a {
    text-align: left;
    color: #eee;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #aaa;
    background-color: #333;
}

.nav-sidebar > li > a:hover,
.nav-sidebar > li > a:focus {
    color: #eee;
    background-color: #444;
}


/*
 * Main content
 */
th {
    background: #ddd;
    text-align: center;
}

.main {
    padding: 5px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 20px;
        padding-left: 20px;
    }
}

.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.reddot:after {
    content: "";
    position: absolute;
    right: 5px;
    padding: 3px;
    z-index: 9999999;
    background: #d9534f;
    border-radius: 50%;
    font-size: 0;
    line-height: 0;
    border: 1px solid #d43f3a;
}
.yellowdot:after {
    content: "";
    position: absolute;
    right: 5px;
    padding: 3px;
    z-index: 9999999;
    background: #f1d600;
    border-radius: 50%;
    font-size: 0;
    line-height: 0;
    border: 1px solid #d43f3a;
}
.badge-danger{
    background-color:red;
}