{include file="common/common_header" /}
{include file="common/common_menu" /}
<link rel="stylesheet" href="__MS__/layui/css/layui.css">
{if condition="$Think.cookie.daifu_order_refresh_status eq 1"}
<meta http-equiv="refresh" content="30">
{/if}
<!--页面主要内容-->
<main class="lyear-layout-content">

    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="switch switch-large" style="margin-left:20px;padding-top:20px" >
                        <label for="daifu_order_refresh_status">自动刷新：</label>
                        <input id="daifu_order_refresh_status" type="checkbox" {$Think.cookie.daifu_order_refresh_status == 1 ?'':'checked'} name='daifu_order_refresh_status'  />
                    </div>
                    <div class="card-toolbar clearfix">
                        <form class="form-inline pull-right " method="get" action="" role="form">
                            <div class="form-group">
                                <label class="sr-only" for="trade_no">订单编号</label>
                                <input class="form-control" type="text" id="trade_no" name="trade_no"
                                       value="{:input('trade_no','','trim')}" placeholder="请输入系统订单编号">
                            </div>

                            <div class="form-group">
                                <label class="sr-only" for="bank_owner">付款人</label>
                                <input class="form-control" type="text" id="bank_owner" name="bank_owner"
                                       value="{:input('bank_owner','','trim')}" placeholder="请输入付款人">
                            </div>

                            <div class="form-group">
                                <label class="sr-only" for="out_trade_no">订单编号</label>
                                <input class="form-control" type="text" id="out_trade_no" name="out_trade_no"
                                       value="{:input('out_trade复制成功_no','','trim')}" placeholder="请输入商户订单编号">
                            </div>
                            <div class="form-group ">
                                <label class="sr-only" for="status">状态</label>
                                <select name="status" class="form-control" id="status">
                                    <option value="-1">全部</option>
                                    <option {$Request.get.status == '0' ? 'selected' : '' } value="0">处理失败</option>
                                    <option {$Request.get.status == '1' ? 'selected' : '' } value="1">待处理</option>
                                    <option {$Request.get.status == '2' ? 'selected' : '' } value="2">处理成功</option>
                                    <option {$Request.get.status == '3' ? 'selected' : '' }  value="3">处理中</option>

                                </select>
                            </div>


                            <div class="form-group">
                                <label class="sr-only">开始时间</label>
                                <input type="text" class="layui-input" id="start_time" name="start_time"
                                       value="<?php  echo $request->param('start_time',date('Y-m-d 00:00:00')) ?>"
                                       placeholder="请选择开始时间">
                                <!--<input class="form-control js-datetimepicker " type="text" id="example-datetimepicker" name="start_time"   placeholder="请选择开始时间" value="{:input('start_time',date('Y-m-d'),'trim')}" data-side-by-side="true" data-locale="zh-cn"  data-date-format="YYYY-MM-DD HH:mm" />-->
                            </div>

                            <div class="form-group ">
                                <label class="sr-only">结束时间</label>
                                <input type="text" class="layui-input" id="end_time" name="end_time"
                                       value="<?php  echo $request->param('end_time',date('Y-m-d 23:59:59')) ?>"
                                       placeholder="请选择结束时间">
                                <!--<input class="form-control js-datetimepicker" type="text" id="example-datetimepicker2" name="end_time" placeholder="请选择结束时间" value="{:input('end_time',date('Y-m-d',strtotime('+1 day')),'trim')}" data-side-by-side="true" data-locale="zh-cn"   data-date-format="YYYY-MM-DD HH:mm" />-->
                            </div>

                            <div class="form-group">
                                <label class="sr-only">搜索</label>
                                <button class="btn btn-primary form-control" type="submit">搜索</button>
                            </div>

                            <div class="form-group">
                                <label class="sr-only">重置</label>
                                <a href="{:url('index')}" class="btn btn-danger form-control" type="reset">重置</a>
                            </div>
                            <div class="form-group">
                                <label class="sr-only">导出</label>
                                <button onclick="exportItem(6,layui.$('.searchItem').serialize())"  class="btn btn-primary form-control" type="button">导出</button>
                            </div>
                            <div style="float: left;margin-right: 200px">
                            <p>订单总数 ： <span style="color: green">{$orderSum|default=0} 单</span></p>
                            <p>完成总单数 ： <span style="color: green">{$successCount|default=0} 单</span></p>
                            <p>完成总金额 ：¥ <span style="color: green">{$successMoney|default=0.00}</span></p>
                            </div>
                        </form>
                    </div>
                    <div class="card-body">

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>订单编号(商户)</th>
                                    <th>金额</th>
                                    <th>收款信息</th>
                                    <th>状态</th>
                                    <th>订单备注</th>
                                    <th>创建时间</th>
                                    <th>完成时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name="list" id="v"}
                                <tr>
                                    <td><?php echo $v['id'];?></td>
                                    <td><?php echo $v['out_trade_no'];?></td>
                                    <td><?php echo $v['amount'];?></td>

                                    <td style="width: 27%">
                                        姓名：<span id="bank_owner_{$v['id']}">{$v.bank_owner}</span>
                                        &nbsp
                                        <button data-clipboard-target="#bank_owner_{$v['id']}"
                                                id="copy_bank_owner_{$v['id']}"
                                                onclick="copy('copy_bank_owner_{$v[\'id\']}')" type="button"
                                                class="btn btn-success btn-xs ">复制
                                        </button>
                                        <br/>
                                        银行：{$v.bank_name}
                                        <br/>
                                        卡号：{if condition="$v['status'] == '3'"}<span id="bank_number_{$v['id']}">{$v.bank_number}</span>{else/}*****{/if}
                                        &nbsp
                                        {if condition="$v['status'] == '3'"}
                                        <button data-clipboard-target="#bank_number_{$v['id']}"
                                                id="copy_bank_number_{$v['id']}"
                                                onclick="copy('copy_bank_number_{$v[\'id\']}')" type="button"
                                                class="btn btn-success btn-xs ">复制
                                        </button>
                                        {/if}
                                    </td>
                                    <td>
                                        {switch name="v.status" }
                                        {case value="0" }
                                        <button type="button" class="btn btn-danger btn-xs ">处理失败</button>
                                        {/case}
                                        {case value="1"}
                                        <button type="button" class="btn btn-warning btn-xs ">待处理</button>
                                        {/case}
                                        {case value="2"}
                                        <button type="button" class="btn btn-success btn-xs ">已完成</button>
                                        {/case}
                                        {case value="3"}
                                        <button type="button" class="btn btn-default btn-xs ">处理中</button>
                                        {/case}
                                        {default /}
                                        <button type="button" class="btn btn-danger btn-xs ">失败</button>
                                        {/switch}
                                    </td>
                                    <td style="width: 20%">{if condition="$v.status eq 2"}{$v.remark}{else/}{$v.error_reason}{/if}</td>
                                    <td><?php echo $v['create_time'];?></td>

                                    <td><?php if($v['finish_time']){ echo date("Y-m-d H:i:s",$v['finish_time']);}else{ echo "无"; }  ?></td>




                                    <td style="font-size:22px;">
                                        {if  condition=" $v['status'] == '1'"}
                                        <a href="javascript:ajaxUrl('{:url('matching',['id'=>$v['id']])}')"
                                           class="btn btn-xs btn-success">处理</a>
                                        {/if}

                                       <!-- {if  condition=" $v['status'] == '0' || $v['status'] == '2'"}
                                        <a href="javascript:void(0)"
                                           onclick="selectInfo('{$v['id']}','{$v.bank_number}');"
                                           class="btn btn-xs btn-success">查看信息</a>
					   {/if}-->
                                        {if condition="$v['ms_id'] && $v['status'] == '3'"}
                                        <a href="javascript:void(0)"
                                           onclick="discard_df('{$v['id']}','{$v['uid']}');"
                                           class="btn btn-xs btn-warning">弃单</a>
                                        <a href="javascript:void(0)"
                                           onclick="error_finishDf('{$v['id']}','{$v['uid']}');"
                                           class="btn btn-xs btn-danger">代付失败</a>
                                        {if condition="$daifu_success_uplode == '2' && $v['transfer_chart'] == ''"}
                                        <a href="javascript:void(0)"

                                          class="btn btn-xs btn-warning" orderid="{$v['id']}" id="test1">上传转账截图</a>
                                        {/if}

                                        <a href="javascript:void(0)" onclick="finishDf('{$v['id']}','{$v['uid']}');"
                                           class="btn btn-xs btn-success">完成代付</a>

                                        {/if}


                                    </td>
                                </tr>
                                {/volist}


                                </tbody>
                            </table>
                        </div>
                        {$page}
                    </div>
                </div>
            </div>

        </div>

    </div>

    </div>


</main>
<!--End 页面主要内容-->
</div>
</div>

{include file="common/common_js" /}
<script type="text/javascript" src="__MS__/layui//layui.js"></script>
<script type="text/javascript" src="__COMMON__/js/clipboard.min.js"></script>
<script src="__STATIC__/cloudui/js/define.js"></script>

<script type="text/javascript">
    $('[name="daifu_order_refresh_status"]').bootstrapSwitch(
        {
            onText:"已开启",
            offText:"已关闭",
            onColor:"success",
            offColor:"danger",
            size:"small",
            toggleState:true,

            onSwitchChange:function(event,state){
                if(state==true){
                    $.ajax({
                        url:"{:url('daifu_order_refresh_status')}",
                        data:{status:1},
                        method:'post',
                        success:function(res){
                            window.location.reload();
                            // console.log(res);
                        }
                    });
                }else{
                    $.ajax({
                        url:"{:url('daifu_order_refresh_status')}",
                        data:{status:0},
                        method:'post',
                        success:function(res){
                            window.location.reload();
                            // console.log(res);
                        }
                    });
                }

            }
        },

    );
    $('[name="daifu_order_refresh_status"]').bootstrapSwitch('toggleState',true);
    layui.use(['layer','upload'], function () {
        var layer = layui.layer,
            upload = layui.upload;
        //执行实例
       var upload_daifu  =  upload.render({
            elem: '#test1' //绑定元素
            ,url: "{:url('daifu_orders/upload')}" //上传接口
            ,accept:'images'
            ,before: function (){
               var item = this.item;//当前点击的这个对象，根据这个对象就可以获取当前想要的值，对于是class的选择器很有用
               var orderid = item.context.attributes['orderid'].value;
               this.data = {
                   orderid: orderid,
               }
           }
           ,done: function(res){
               //上传完毕回调
               if (res.code == 0){
                   layer.msg(res.msg,{icon:1,time:1500},function (){
                       $("#test1").hide();
                   })
               }else{
                   layer.msg(res.msg,{icon:2,time:1500})
               }
           }
           ,error: function(){
                //请求异常回调
            }
        });
    // window.upload_daifu_chart = function (dfid){
    //     upload_daifu(dfid)
    // }
    })
    /**
     * 复制
     * @param dom  dom元素
     */
    function copy(dom) {
        var clipboard = new ClipboardJS('#' + dom);
        clipboard.on('success', function (e) {
            console.log(e);
            e.clearSelection(); //选中需要复制的内容
            layer.msg("复制成功", {time: 500})
        });
        clipboard.on('error', function (e) {
            layer.msg("当前浏览器不支持此功能，请手动复制。", {time: 500})
        });
    }


    $(function () {
        $('.search-bar .dropdown-menu a').click(function () {
            var field = $(this).data('field') || '';
            $('#search-field').val(field);
            $('#search-btn').html($(this).text() + ' <span class="caret"></span>');
        });
    });

    /**
     * 查看信息
     */
    function selectInfo(df_order_id,bank){
        $.alert({
            title: '银行卡号',
            content: bank,
        });
    }


    /**
     * 弃单
     * @param df_order_id
     * @param width
     * @param height
     */

    function discard_df(df_order_id,uid){
        $.confirm({
            title: '弃单!',
            content: '确定要丢掉这一单吗!',
            buttons: {
                confirm: {
                    text: '确认',
                    btnClass: 'btn-danger',
                    action: function () {
                        var sendRes = "{:url('discard_df')}?id=" + df_order_id;
                        ajaxUrl(sendRes)
                    }
                },
                取消: function () {

                },
            }
        });
    }
    // confirm: {
    //     text: '确认',
    //     btnClass: 'btn-danger',
    //     action: function () {
    //         var sendRes = "{:url('discard_df')}?id=" + df_order_id;
    //         ajaxUrl(sendRes)
    //     }
    // },
    /**
     * 完成代付
     * @param df_order_id
     * @param width
     * @param height
     */
    function finishDf(df_order_id, uid) {
            jconfirm.defaults = {

                cancelButton: '取消',
            };
        var url = "{:url('DepositeCard/getDepositeCardByUid')}";
        $.post(url, {uid: uid}, function (res) {
            //选择代付银行卡
            // $.alert({
            //     title: '信息确认',
            //     content: '确认支付完成？',
            //     buttons: {
            //         confirm: {
            //             text: '确认',
            //             btnClass: 'btn-primary',
            //             action: function () {
            //                 var df_bank_id = $("#banks").val();
            //                 if (df_bank_id == 0) {
            //                     $.alert("请选择银行卡进行代付");
            //                     return false;
            //                 }
            //                 var sendRes = "{:url('sendDfResult')}?id=" + df_order_id + "&status=2&df_bank_id=" + df_bank_id;
            //                 ajaxUrl(sendRes)
            //             }
            //         },
            //
            //     }
            // });
            $.confirm({

                title: '',
                content: '' +
                    '<form action="" class="formName">' +
                    '<div class="form-group">' +
                    '<label>请输入备注信息</label>' +
                    '<input type="text" placeholder="备注信息" class="name form-control" name="remark" />' +
                    '</div>' +
                    '</form>',
                buttons: {
                    formSubmit: {
                        text: '提交',
                        btnClass: 'btn-blue',
                        action: function () {
                            var name = this.$content.find('.name').val();
                            // if(!name){
                            //     $.alert('provide a valid name');
                            //     return false;
                            // }
                            // $.alert('Your name is ' + name);
                            var df_bank_id = $("#banks").val();
                            if (df_bank_id == 0) {
                                $.alert("请选择银行卡进行代付");
                                return false;
                            }
                        var sendRes = "{:url('sendDfResult')}?id=" + df_order_id + "&status=2&df_bank_id=" + df_bank_id + '&remark=' + name;
                        ajaxUrl(sendRes)
                        }
                    },
                    '取消': function () {
                        //close

                    },
                },
                onContentReady: function () {
                    // bind to events
                    var jc = this;
                    this.$content.find('form').on('submit', function (e) {
                        // if the user submits the form by pressing enter in the field.
                        e.preventDefault();
                        jc.$formSubmit.trigger('click'); // reference the button and click it
                    });
                }
            });

        }, 'json')
        // $.post(url, {uid: uid}, function (res) {
        //     //选择代付银行卡
        //     $.alert({
        //         title: '选择代付银行卡',
        //         content: res,
        //         buttons: {
        //             confirm: {
        //                 text: '确认',
        //                 btnClass: 'btn-primary',
        //                 action: function () {
        //                     var df_bank_id = $("#banks").val();
        //                     if (df_bank_id == 0) {
        //                         $.alert("请选择银行卡进行代付");
        //                         return false;
        //                     }
        //                     var sendRes = "{:url('sendDfResult')}?id=" + df_order_id + "&status=2&df_bank_id=" + df_bank_id;
        //                     ajaxUrl(sendRes)
        //                 }
        //             },
        //
        //         }
        //     });
        // }, 'json')
    }


    /**
     * 代付失败
     * @param df_order_id
     * @param uid
     */
    function error_finishDf(df_order_id, uid) {
        var reasons = $("#gbyuanyin");

        $.alert({
            title: '选择代付银行卡',
            content: reasons,
            buttons: {
                confirm: {
                    text: '确认',
                    btnClass: 'btn-primary',
                    action: function () {
                        var error_reason = $("#error_reason").val();
                        if ($.trim(error_reason) == '') {
                            $.alert("请至少选择一项转款失败的理由");
                            return false;
                        }
                        var sendRes = "{:url('sendDfResult')}?id=" + df_order_id + "&status=0&error_reason=" + error_reason;
                        ajaxUrl(sendRes)
                    }
                },
                heyThere: {
                    text: '取消', // With spaces and symbols
                    action: function () {
                        close();
                        window.location.reload();
                    }
                }

            }
        });
    }


    layui.use('laydate', function () {
        var laydate = layui.laydate;


        //日期时间选择器
        laydate.render({
            elem: '#start_time'
            , type: 'datetime'
        });

        //日期时间选择器
        laydate.render({
            elem: '#end_time'
            , type: 'datetime'
        });

    })


</script>


</body>

<div style="display:none">
    

<div class="form-group" id="gbyuanyin" >
    <label class="sr-only" for="error_reason">状态</label>
    <select name="error_reason" class="form-control" id="error_reason">
    <option value="">请选择处理意见</option>
    {foreach name="res" item="value"}
    <option value="{$value}">{$value}</option>
   {/foreach}
    </select>
</div>
</div>

</html>
