
<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <aside class="lyear-layout-sidebar">

            <!-- logo -->
            <div id="logo" class="sidebar-header">
                <!--<a href="{:url('index/index')}"><img src="__AGENT__/images/logo-sidebar.png" title="LightYear" alt="LightYear" /></a>-->
                <h3 style="text-align: center" >码商管理后台</h3>
            </div>
            <div class="lyear-layout-sidebar-scroll">

                <nav class="sidebar-main">
                    <ul class="nav nav-drawer">
                        <li class="nav-item active">
                            <a href="{:url('index/index')}"><i class="mdi mdi-home"></i> 首页</a>
                        </li>

                        <li class="nav-item nav-item-has-subnav">
                            <a href="javascript:void(0)"><i class="mdi mdi-content-paste"></i> 个人中心</a>
                            <ul class="nav nav-subnav">
                                <li id="transferList" > <a href="javascript:skipMune('{:url(\'index/codelists\')}')">通道费率</a> </li>
                            </ul>
                        </li>

                        {if condition="$is_daifu  eq 1"}
                        <li class="nav-item nav-item-has-subnav">
                            <a href="javascript:void(0)"><i class="mdi mdi-content-paste"></i> 代付管理</a>
                            <ul class="nav nav-subnav">
                                <!--<li id="agentWithdraw" > <a href="javascript:skipMune('{:url(\'PayWithdraw/index\')}','agentWithdraw')">商户提现</a> </li>-->
                                <li id="transferList" > <a href="javascript:skipMune('{:url(\'DaifuOrders/index\')}')">代付列表</a> </li>
                            </ul>
                        </li>
                        {/if}


<!--                        <li class="nav-item nav-item-has-subnav">-->
<!--                            <a href="javascript:void(0)"><i class="mdi mdi-content-paste"></i> 二维码管理</a>-->
<!--                            <ul class="nav nav-subnav">-->
<!--                                &lt;!&ndash;<li id="agentWithdraw" > <a href="javascript:skipMune('{:url(\'PayWithdraw/index\')}','agentWithdraw')">商户提现</a> </li>&ndash;&gt;-->
<!--                                <li id="transferList" > <a href="javascript:skipMune('{:url(\'PayCode/statistics\')}')">二维码统计</a> </li>-->
<!--                                <li id="transferList" > <a href="javascript:skipMune('{:url(\'PayCode/lists\')}')">二维码列表</a> </li>-->
<!--								<li id="transferList" > <a href="javascript:skipMune('{:url(\'PayCode/qun_lists\')}')">群二维码列表</a> </li>-->
<!--                                <li id="transferList" > <a href="javascript:skipMune('{:url(\'PayCode/alipayUid\')}')">支付宝UID</a> </li>-->
<!--                            </ul>-->
<!--                        </li>-->
                        <li class="nav-item nav-item-has-subnav">
                            <a href="javascript:void(0)"><i class="mdi mdi-content-paste"></i> 银行卡</a>
                            <ul class="nav nav-subnav">
                                <!--<li id="agentWithdraw" > <a href="javascript:skipMune('{:url(\'PayWithdraw/index\')}','agentWithdraw')">商户提现</a> </li>-->
                                <li id="transferList" > <a href="javascript:skipMune('{:url(\'PayCode/lists\')}')">银行卡列表</a> </li>
                                <li id="transferList" > <a href="javascript:skipMune('{:url(\'PayOrder/lists\',['pay_code'=>30])}')">银行卡订单列表</a> </li>
                                <li id="transferList" > <a href="javascript:skipMune('{:url(\'PayOrder/statisticsV2\',['pay_code'=>30])}')">银行卡统计</a> </li>
                            </ul>
                        </li>

                        <li class="nav-item nav-item-has-subnav">
                            <a href="javascript:void(0)"><i class="mdi mdi-content-paste"></i> 支付宝UID</a>
                            <ul class="nav nav-subnav">
                                <!--<li id="agentWithdraw" > <a href="javascript:skipMune('{:url(\'PayWithdraw/index\')}','agentWithdraw')">商户提现</a> </li>-->
                                <li id="transferList" > <a href="javascript:skipMune('{:url(\'PayCode/alipayUid\')}')">支付宝UID</a> </li>
                                <li id="transferList" > <a href="javascript:skipMune('{:url(\'PayOrder/lists\',['pay_code'=>32])}')">支付宝UID订单</a> </li>
                                <li id="transferList" > <a href="javascript:skipMune('{:url(\'PayOrder/statisticsV2\',['pay_code'=>32])}')">支付宝UID统计</a> </li>
                            </ul>
                        </li>

<!--                        <li class="nav-item nav-item-has-subnav">-->
<!--                            <a href="javascript:void(0)"><i class="mdi mdi-content-paste"></i> 订单管理</a>-->
<!--                            <ul class="nav nav-subnav">-->
<!--                                &lt;!&ndash;<li id="agentWithdraw" > <a href="javascript:skipMune('{:url(\'PayWithdraw/index\')}','agentWithdraw')">商户提现</a> </li>&ndash;&gt;-->
<!--                                <li id="transferList" > <a href="javascript:skipMune('{:url(\'PayOrder/lists\',['pay_code'=>30])}')">银行卡订单列表</a> </li>-->
<!--                                <li id="transferList" > <a href="javascript:skipMune('{:url(\'PayOrder/lists\',['pay_code'=>32])}')">支付宝UID订单</a> </li>-->
<!--                                <li id="transferList" > <a href="javascript:skipMune('{:url(\'PayOrder/statistics\')}')">订单统计</a> </li>-->
<!--                            </ul>-->
<!--                        </li>-->


                        <li class="nav-item nav-item-has-subnav">
                            <a href="javascript:void(0)"><i class="mdi mdi-content-paste"></i> 财务管理</a>
                            <ul class="nav nav-subnav">
                                <!--<li id="agentWithdraw" > <a href="javascript:skipMune('{:url(\'PayWithdraw/index\')}','agentWithdraw')">商户提现</a> </li>-->
                                <li id="transferList" > <a href="javascript:skipMune('{:url(\'Bills/lists\')}')">资金账变</a> </li>

                            </ul>
                        </li>




                        <!--                        <li class="nav-item nav-item-has-subnav">-->
<!--                            <a href="javascript:void(0)"><i class="mdi mdi-folder-multiple-image"></i> 二维码管理</a>-->
<!--                            <ul class="nav nav-subnav">-->
<!--                                <li id="ewmList" > <a href="javascript:skipMune('{:url(\'User/ewm\',[\'is_agent\'=>1])}','ewmList')">二维码列表</a> </li>-->
<!--                                <li id="ewmGroup" > <a href="javascript:skipMune('{:url(\'GemaPayGroup/index\')}','ewmGroup')">二维码分组</a> </li>-->
<!--                                <li id="ewmStatistics" > <a href="javascript:skipMune('{:url(\'User/ewmStatistics\',[\'is_agent\'=>1])}','ewmStatistics')">二维码统计</a> </li>-->
<!--                                &lt;!&ndash;<li> <a href="{:url('GemaPayGroup/index')}">二维码分组</a> </li>&ndash;&gt;-->
<!--                                &lt;!&ndash;<li> <a href="{:url('User/ewm',['is_agent'=>1])}">二维码列表</a> </li>&ndash;&gt;-->
<!--                                &lt;!&ndash;<li> <a href="{:url('User/ewmStatistics',['is_agent'=>1])}">二维码统计</a> </li>&ndash;&gt;-->
<!--                            </ul>-->
<!--                        </li>-->


<!--                        <li class="nav-item nav-item-has-subnav ">-->
<!--                            <a href="javascript:void(0)"><i class="mdi mdi-view-headline "></i> 订单管理</a>-->
<!--                            <ul class="nav nav-subnav"  >-->
<!--                                <li id="orderList" > <a href="javascript:skipMune('{:url(\'Gema/index\',[\'is_agent\'=>1])}','orderList')">订单列表</a> </li>-->
<!--                                <li id="orderCal" > <a href="javascript:skipMune('{:url(\'Gema/cal\',[\'is_agent\'=>1])}','orderCal')">订单统计</a> </li>-->
<!--                            </ul>-->
<!--                        </li>-->


<!--                        <li class="nav-item nav-item-has-subnav">-->
<!--                            <a href="javascript:void(0)"><i class="mdi mdi-content-paste"></i> 财务管理</a>-->
<!--                            <ul class="nav nav-subnav">-->
<!--                                &lt;!&ndash;<li id="agentWithdraw" > <a href="javascript:skipMune('{:url(\'PayWithdraw/index\')}','agentWithdraw')">商户提现</a> </li>&ndash;&gt;-->
<!--                                <li id="userBill" > <a href="javascript:skipMune('{:url(\'User/bill\',[\'is_agent\'=>1])}','userBill')">账单明细</a> </li>-->
<!--                                &lt;!&ndash;<li> <a href="{:url('PayWithdraw/index')}">商户提现</a> </li>&ndash;&gt;-->
<!--                                &lt;!&ndash;<li> <a href="{:url('User/bill',['is_agent'=>1])}">资金管理</a> </li>&ndash;&gt;-->
<!--                            </ul>-->
<!--                        </li>-->



                        {if condition="$level LT 5"}
                        <li class="nav-item nav-item-has-subnav">
                            <a href="javascript:void(0)"><i class="mdi mdi-account-circle"></i> 下级管理</a>
                            <ul class="nav nav-subnav">
                                <li id="transferList" > <a href="javascript:skipMune('{:url(\'user/index\')}','UserIndex')">下级列表</a> </li>
                                <li id="transferList" > <a href="javascript:skipMune('{:url(\'user/sonStatic\')}','UserIndex')">下级统计报表</a> </li>
                                <!--<li id="userEwmNext" > <a href="javascript:skipMune('{:url(\'user/ewm\')}','userEwmNext')">下级二维码</a> </li>-->
                                <!--                                <li id="transferList" > <a href="javascript:skipMune('{:url(\'user/sonDfOrder\')}','sonDfOrder')">下级代付订单</a> </li>-->
<!--                                <li id="transferList"> <a href="{:url('user/sonOrder')}">下级支付订单</a> </li>-->
                                <!--<li> <a href="{:url('user/ewm')}">下级二维码</a> </li>-->
                                <!--<li> <a href="{:url('Gema/index')}">下级订单</a> </li>-->
                            </ul>
                        </li>
                        {/if}
                        <!--<li class="nav-item nav-item-has-subnav">-->
                            <!--<a href="javascript:void(0)"><i class="mdi mdi-file-outline"></i> 商城管理</a>-->
                            <!--<ul class="nav nav-subnav">-->
                                <!--<li> <a href="lyear_pages_doc.html">商户管理</a> </li>-->
                                <!--<li> <a href="lyear_pages_doc.html">商户订单</a> </li>-->
                            <!--</ul>-->
                        <!--</li>-->

<!--                        <li class="nav-item nav-item-has-subnav">-->
<!--                            <a href="javascript:void(0)"><i class="mdi mdi-monitor"></i> 系统</a>-->
<!--                            <ul class="nav nav-subnav">-->
<!--                                <li id="userLog" > <a href="javascript:skipMune('{:url(\'Log/index\')}','userLog')">系统日志</a> </li>-->
<!--                                &lt;!&ndash;<li> <a href="{:url('Log/index')}">系统日志</a> </li>&ndash;&gt;-->
<!--                            </ul>-->
<!--                        </li>-->
                    </ul>
                </nav>

                <!--<div class="sidebar-footer">-->
                    <!--<p class="copyright">Copyright &copy; 2019. <a target="_blank" href="http://lyear.itshubao.com">IT书包</a> All rights reserved.</p>-->
                <!--</div>-->
            </div>

        </aside>
        <!--End 左侧导航-->

        <!--头部信息-->
        <header class="lyear-layout-header">

            <nav class="navbar navbar-default">
                <div class="topbar">

                    <div class="topbar-left">
                        <div class="lyear-aside-toggler">
                            <span class="lyear-toggler-bar"></span>
                            <span class="lyear-toggler-bar"></span>
                            <span class="lyear-toggler-bar"></span>
                        </div>
                        <span class="navbar-page-title"> 首页 </span>

                    </div>

                    <ul class="topbar-right">

                        <li class="dropdown dropdown-profile">
                            <a href="javascript:void(0)" data-toggle="dropdown">
                                <!--<img class="img-avatar img-avatar-48 m-r-10" src="__AGENT__/images/users/avatar.jpg" alt="{$agent.username}" />-->
                                <span>{$agent.username} <span class="caret"></span></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
<!--                                <li> <a href="{:url('User/userinfo')}"><i class="mdi mdi-account"></i> 个人信息</a> </li>-->
                                <li> <a href="{:url('Index/editPassword')}"><i class="mdi mdi-lock-outline"></i> 修改密码</a> </li>
                                <li> <a href="{:url('Index/editSafety')}"><i class="mdi mdi-lock-outline"></i> 修改安全码</a> </li>
                                <li><a href="{:url('User/blndGoogle')}"><i class="mdi mdi-lock-outline"></i>绑定Google</a></li>
                                <li><a href="{:url('Index/dividedBalance')}"><i class="mdi mdi-lock-outline"></i>划分余额</a></li>
                                <!--<li> <a href="javascript:void(0)"><i class="mdi mdi-delete"></i> 清空缓存</a></li>-->
                                <li class="divider"></li>
                                <li> <a href="{:url('Login/out')}"><i class="mdi mdi-logout-variant"></i> 退出登录</a> </li>
                            </ul>
                        </li>
                        <div class="dropdown-profile" style="font-size: 10px"  >
                            余额：￥{$agent.money}
                        </div>
                 <div class="switch switch-large" style="margin-right:15px">
                 <label for="work_status">接单状态：</label>
                 <input id="work_status" type="checkbox" name='work_status' {$agent.work_status == 1 ?'':'checked'}  />
                        </div>

                    </ul>
                   
                </div>
            </nav>
        </header>


        <!--End 头部信息-->

