<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>码商管理后台</title>
    <link rel="icon" href="__MS__/favicon.ico" type="image/ico">
    <meta name="keywords" content="码商管理后台">
    <meta name="description" content="码商管理后台">
    <meta name="author" content="yinqi">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <script type="text/javascript" src="/public/static/member/layui/css/layui.css"></script>

    <link rel="stylesheet" href="/public/static/member/style/admin.css" media="all">
    <link rel="stylesheet" href="/public/static/member/style/login.css" media="all">
    <script type="text/javascript" src="/public/static/member/layui/layui.js"></script>

</head>
<body>

