<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>后台管理 - 修改充值银行卡</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__ADMIN__/layui/css/layui.css" media="all">
</head>
<body>


<div class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin" style="padding: 20px 30px 0 0;">
    <input type="text" hidden disabled name="id" value="{$info.id|default=''}">
    <input type="text" hidden disabled name="scene" value="edit">
    <div class="layui-form-item">
        <label class="layui-form-label">开户银行：</label>
        <div class="layui-input-block">
            <select name="bank_id" lay-verify="required">
                {volist name="bank" id="vo"}
                <option {$info.bank_id == $vo.id ?'selected':''} value="{$vo.id}">{$vo.name}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">银行账户名：</label>
        <div class="layui-input-block">
            <input type="text"  name="bank_account_username" autocomplete="off" class="layui-input" value="{$info.bank_account_username|default=''}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">银行卡号：</label>
        <div class="layui-input-block">
            <input type="text" name="bank_account_number" autocomplete="off" class="layui-input" value="{$info.bank_account_number|default=''}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">支行名称：</label>
        <div class="layui-input-block">
            <input type="text" name="bank_account_address" autocomplete="off" class="layui-input" value="{$info.bank_account_address|default=''}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">状态：</label>
        <div class="layui-input-block">
            <input type="radio" name="status" value="1" title="启用" {$info.status|default='1' == 1?'checked':''}>
            <input type="radio" name="status" value="0" title="禁用" {$info.status|default='0' == 0?'checked':''}>
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="app-admin-card-submit" id="app-admin-card-submit" value="确认">
    </div>
</div>

<script src="__ADMIN__/layui/layui.js"></script>
<script>
    layui.config({
        base: '__ADMIN__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'upload'], function(){
        var $ = layui.$
            ,form = layui.form
            ,upload = layui.upload ;
    });
</script>
</body>
</html>