<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>后台管理 - 审核商户信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__ADMIN__/layui/css/layui.css" media="all">
</head>
<body>


<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin" style="padding: 20px 30px 0 0;">

            <!--产品列表-->
            <table class="layui-table" lay-even="" lay-skin="line">
                <thead>
                <tr>
                    <th>商户编号</th>
                    <th>商户</th>
                    <th>状态</th>
                </tr>
                </thead>
                <tbody>
                {volist name="list" id="vo"}
                <tr>
                    <input type="text" name="r[{$vo.uid}][uid]" hidden value="{$vo.uid}">
                    <input type="text" name="r[{$vo.uid}][co_id]" hidden value="{$Request.get.id}">
                    <td>{$vo.uid}</td>
                    <td>{$vo.username}</td>
                    <td>
                        <div class="layui-input-inline" style="width: 100px;">
                            <input class="code_status" type="checkbox" name="r[{$vo.uid}][status]" value="{$vo.status}" {if condition="$vo['status'] eq 1"}checked{/if} lay-skin="switch" lay-text="开启|关闭" lay-filter="status">
                        </div>
                    </td>

                </tr>
                {/volist}
                </tbody>
            </table>
            <div class="layui-form-item layui-hide">
                <input type="button" lay-submit lay-filter="app-user-profit-submit" id="app-user-profit-submit" value="确认">
            </div>
        </div>
    </div>
</div>

<script src="__ADMIN__/layui/layui.js"></script>
<script>
    layui.config({
        base: '__ADMIN__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'upload'], function(){
        var $ = layui.$
            ,form = layui.form
            ,upload = layui.upload ;


        form.on('switch(status)', function(obj){
            var _val = obj.elem.checked?1:2;
            $(this).val(_val);
        });
    });
</script>
</body>
</html>