<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>狂神科技|狂神聚合支付 - 后台管理 - 支付渠道编辑</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__ADMIN__/layui/css/layui.css" media="all">
</head>
<body>

<div class="layui-form" style="padding: 20px 30px 0 0;">
    <input type="text" name="id" hidden disabled value="{$channel.id}">
    <div class="layui-form-item">
        <label class="layui-form-label">渠道名称：</label>
        <div class="layui-input-block">
            <input type="text" name="name" required lay-verify="required" placeholder="请输入渠道名称" autocomplete="off" class="layui-input" value="{$channel.name}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">操作控制：</label>
        <div class="layui-input-block">
            <input type="text" name="action" required lay-verify="required" placeholder="请输入操作控制器" autocomplete="off" class="layui-input" value="{$channel.action}">
            <div class="layui-form-mid layui-word-aux">注：执行相关控制器类名称</div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">回调地址：</label>
        <div class="layui-input-block">
            <input type="text" name="return_url" required lay-verify="required" placeholder="请输入回调地址" autocomplete="off" class="layui-input" value="{$channel.return_url}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">异步地址：</label>
        <div class="layui-input-block">
            <input type="text" name="notify_url" required lay-verify="required" placeholder="请输入异步地址" autocomplete="off" class="layui-input" value="{$channel.notify_url}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">限制金额：</label>
        <div class="layui-input-block">
            <input type="text" name="limit_moneys"   placeholder="请输入限制固定下单金额,多个用逗号拼接,不填写默认不限制" autocomplete="off" class="layui-input" value="{$channel.limit_moneys}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">代理分成：</label>
        <div class="layui-input-inline">
            <input type="text" name="urate" required lay-verify="required" placeholder="请输入代理分成" autocomplete="off" class="layui-input" value="{$channel.grate}">
        </div>
        <label class="layui-form-label">用户分成：</label>
        <div class="layui-input-inline">
            <input type="text" name="urate" required lay-verify="required" placeholder="请输入用户分成" autocomplete="off" class="layui-input" value="{$channel.urate}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">开始时间：</label>
        <div class="layui-input-inline">
            <input type="text" name="timeslot[start]" id="channel-timeslot-start" lay-verify="time" value="{$channel.timeslot.start}" placeholder="H:m" autocomplete="off" class="layui-input" lay-key="start">
        </div>
        <label class="layui-form-label">结束时间：</label>
        <div class="layui-input-inline">
            <input type="text" name="timeslot[end]" id="channel-timeslot-end" lay-verify="time" value="{$channel.timeslot.end}" placeholder="H:m" autocomplete="off" class="layui-input" lay-key="end">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">状态：</label>
        <div class="layui-input-block">
            <input type="radio" name="status" value="1" title="启用" {$channel.status == 1?'checked':''}>
            <input type="radio" name="status" value="0" title="禁用" {$channel.status == 0?'checked':''}>
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">渠道是否接受回调：</label>
        <div class="layui-input-block">
            <input type="radio" name="ia_allow_notify" checked value="1" title="是" {$channel.ia_allow_notify == 1?'checked':''}>
            <input type="radio" name="ia_allow_notify" value="0" title="否" {$channel.ia_allow_notify == 0?'checked':''}>
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">备注：</label>
        <div class="layui-input-block">
            <textarea name="remarks" placeholder="请输入备注" class="layui-textarea">{$channel.remarks}</textarea>
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">渠道回调IP：</label>
        <div class="layui-input-block">
            <textarea name="notify_ips" placeholder="请输入渠道回调IP,一个ip一个换行" class="layui-textarea">{foreach name="channel.notify_ips" item="v" key="k"}{$v}<?php echo PHP_EOL; ?>{/foreach}</textarea>
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="app-pay-channel-submit" id="app-pay-channel-submit" value="确认">
    </div>
</div>

<script src="__ADMIN__/layui/layui.js"></script>
<script>
    layui.config({
        base: '__ADMIN__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index','laydate', 'form'], function(){
        var $ = layui.$
            ,laydate = layui.laydate
            ,form = layui.form;

        //时间选择器
        laydate.render({
            elem: '#channel-timeslot-start'
            ,type: 'time'
            ,format: 'H:m'
        });
        laydate.render({
            elem: '#channel-timeslot-end'
            ,type: 'time'
            ,format: 'H:m'
        });


    })
</script>
</body>
</html>