
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>系统管理平台</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="/public/static/member/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="/public/static/member/style/admin.css" media="all">
  <link rel="stylesheet" href="/public/static/member/css/welcome.css?v=1670414150" media="all">
</head>
<body>
<div class="layuimini-container">
  <div class="layuimini-main">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-row layui-col-space15">


          <div class="layui-col-md12">
            <div class="layui-card">
              <div class="layui-card-header"><i class="fa fa-warning icon"></i>账户信息</div>
              <div class="layui-card-body">
                <div class="welcome-module" style="height: 152px;">
                  <div class="layui-row layui-col-space10">

                    <div class="layui-col-xs3">
                      <div class="panel layui-bg-number">
                        <div class="panel-body">
                          <div class="panel-title">
                            <span class="label pull-right layui-bg-blue"></span>
                            <h5>佣金余额</h5>
                          </div>
                          <div class="panel-content">
                            <h1 class="no-margins total_account_balance">0</h1>

                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="layui-col-xs3">
                      <div class="panel layui-bg-number">
                        <div class="panel-body">
                          <div class="panel-title">
                            <span class="label pull-right layui-bg-blue"></span>
                            <h5>总押金</h5>
                          </div>
                          <div class="panel-content">
                            <h1 class="no-margins total_account_balance_deposit_total">0</h1>

                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="layui-col-xs3">
                      <div class="panel layui-bg-number">
                        <div class="panel-body">
                          <div class="panel-title">
                            <span class="label pull-right layui-bg-blue"></span>
                            <h5>冻结押金</h5>
                          </div>
                          <div class="panel-content">
                            <h1 class="no-margins total_account_balance_deposit_froze">0</h1>

                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="layui-col-xs3">
                      <div class="panel layui-bg-number">
                        <div class="panel-body">
                          <div class="panel-title">
                            <span class="label pull-right layui-bg-blue"></span>
                            <h5>可用押金</h5>
                          </div>
                          <div class="panel-content">
                            <h1 class="no-margins total_account_balance_deposit">0</h1>

                          </div>
                        </div>
                      </div>
                    </div>
                    <!--
                        <div class="layui-col-xs3">
                            <div class="panel layui-bg-number">
                                <div class="panel-body">
                                    <div class="panel-title">
                                        <span class="label pull-right layui-bg-blue"></span>
                                        <h5>下级总跑量</h5>
                                    </div>
                                    <div class="panel-content">
                                        <h1 class="no-margins total_child_order_amount">0</h1>

                                    </div>
                                </div>
                            </div>
                        </div>-->




                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--
                              <div class="layui-col-md12">
                                  <div class="layui-card">
                                      <div class="layui-card-header"><i class="fa fa-warning icon"></i>交易信息</div>
                                      <div class="layui-card-body">
                                          <div class="welcome-module">
                                              <div class="layui-row layui-col-space10">
                                                  <div class="layui-col-xs6">
                                                      <div class="panel layui-bg-number">
                                                          <div class="panel-body">
                                                              <div class="panel-title">
                                                                  <span class="label pull-right layui-bg-blue"></span>
                                                                  <h5>总交易总额</h5>
                                                              </div>
                                                              <div class="panel-content">
                                                                  <h1 class="no-margins total_all_money_sum">0</h1>

                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="layui-col-xs6">
                                                      <div class="panel layui-bg-number">
                                                          <div class="panel-body">
                                                              <div class="panel-title">
                                                                  <span class="label pull-right layui-bg-cyan"></span>
                                                                  <h5>总提成金额</h5>
                                                              </div>
                                                              <div class="panel-content">
                                                                  <h1 class="no-margins total_all_participant_fee_money">0</h1>

                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="layui-col-xs6">
                                                      <div class="panel layui-bg-number">
                                                          <div class="panel-body">
                                                              <div class="panel-title">
                                                                  <span class="label pull-right layui-bg-orange"></span>
                                                                  <h5>总订单笔数</h5>
                                                              </div>
                                                              <div class="panel-content">
                                                                  <h1 class="no-margins total_all_order_count">0</h1>

                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>

                                                  <div class="layui-col-xs6">
                                                      <div class="panel layui-bg-number">
                                                          <div class="panel-body">
                                                              <div class="panel-title">
                                                                  <span class="label pull-right layui-bg-blue"></span>
                                                                  <h5>下级总跑量</h5>
                                                              </div>
                                                              <div class="panel-content">
                                                                  <h1 class="no-margins total_child_order_amount">0</h1>

                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>

                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>

          -->
          <div class="layui-col-md12">
            <div class="layui-card">
              <div class="layui-card-header"><i class="fa fa-warning icon"></i>今日统计</div>
              <div class="layui-card-body">
                <div class="welcome-module">
                  <div class="layui-row layui-col-space10">
                    <div class="layui-col-xs6">
                      <div class="panel layui-bg-number">
                        <div class="panel-body">
                          <div class="panel-title">
                            <span class="label pull-right layui-bg-blue"></span>
                            <h5>交易总额</h5>
                          </div>
                          <div class="panel-content">
                            <h1 class="no-margins total_today_money_sum">0</h1>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="layui-col-xs6">
                      <div class="panel layui-bg-number">
                        <div class="panel-body">
                          <div class="panel-title">
                            <span class="label pull-right layui-bg-cyan"></span>
                            <h5>总提成金额</h5>
                          </div>
                          <div class="panel-content">
                            <h1 class="no-margins total_today_participant_fee_money">0</h1>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="layui-col-xs6">
                      <div class="panel layui-bg-number">
                        <div class="panel-body">
                          <div class="panel-title">
                            <span class="label pull-right layui-bg-orange"></span>
                            <h5>订单笔数</h5>
                          </div>
                          <div class="panel-content">
                            <h1 class="no-margins total_today_order_count">0</h1>

                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="layui-col-xs6">
                      <div class="panel layui-bg-number">
                        <div class="panel-body">
                          <div class="panel-title">
                            <span class="label pull-right layui-bg-blue"></span>
                            <h5>下级总跑量</h5>
                          </div>
                          <div class="panel-content">
                            <h1 class="no-margins total_today_child_order_amount">0</h1>

                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="layui-col-md12">
            <div class="layui-card">
              <div class="layui-card-header"><i class="fa fa-warning icon"></i>昨日统计</div>
              <div class="layui-card-body">
                <div class="welcome-module">
                  <div class="layui-row layui-col-space10">
                    <div class="layui-col-xs6">
                      <div class="panel layui-bg-number">
                        <div class="panel-body">
                          <div class="panel-title">
                            <span class="label pull-right layui-bg-blue"></span>
                            <h5>交易总额</h5>
                          </div>
                          <div class="panel-content">
                            <h1 class="no-margins total_yesterday_money_sum">0</h1>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="layui-col-xs6">
                      <div class="panel layui-bg-number">
                        <div class="panel-body">
                          <div class="panel-title">
                            <span class="label pull-right layui-bg-cyan"></span>
                            <h5>总提成金额</h5>
                          </div>
                          <div class="panel-content">
                            <h1 class="no-margins total_yesterday_participant_fee_money">0</h1>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="layui-col-xs6">
                      <div class="panel layui-bg-number">
                        <div class="panel-body">
                          <div class="panel-title">
                            <span class="label pull-right layui-bg-orange"></span>
                            <h5>订单笔数</h5>
                          </div>
                          <div class="panel-content">
                            <h1 class="no-margins total_yesterday_order_count">0</h1>

                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="layui-col-xs6">
                      <div class="panel layui-bg-number">
                        <div class="panel-body">
                          <div class="panel-title">
                            <span class="label pull-right layui-bg-blue"></span>
                            <h5>下级总跑量</h5>
                          </div>
                          <div class="panel-content">
                            <h1 class="no-margins total_yesterday_child_order_amount">0</h1>

                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>


    </div>
  </div>
</div>
</body>
</html>
