<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>码商管理后台</title>
    <link rel="icon" href="__MS__/favicon.ico" type="image/ico">
    <meta name="keywords" content="码商管理后台">
    <meta name="description" content="码商管理后台">
    <meta name="author" content="yinqi">
    <link href="__MS__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__MS__/css/bootstrap-switch.min.css" rel="stylesheet">
    <link href="__MS__/css/materialdesignicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="__MS__/js/jconfirm/jquery-confirm.min.css">
    <!--时间选择插件-->
    <link rel="stylesheet" href="__MS__/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">
    <!--日期选择插件-->
    <link rel="stylesheet" href="__MS__/js/bootstrap-datepicker/bootstrap-datepicker3.min.css">
    

    <link href="__MS__/css/style.min.css" rel="stylesheet">


</head>