

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>狂神科技|狂神聚合支付 - 后台管理 - 授权白名单</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__ADMIN__/layui/css/layui.css" media="all">
</head>
<body>

<div class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin" style="padding: 20px 30px 0 0;">

    <input type="hidden" name="ms_id" value="{:request()->param('ms_id',0,'intval')}">
    <div class="layui-form-item">
        <label class="layui-form-label">授权码商登录白名单</label>
        <div class="layui-input-block">
            <textarea name="ips" lay-verify="required" placeholder="多个请换行输入" autocomplete="off" class="layui-textarea">{if condition="$ips"}{foreach name="ips" item="v" key="k"}{$v}<?php echo PHP_EOL;  ?>{/foreach}{/if}</textarea>
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="app-user-manage-submit" id="app-user-manage-submit" value="确认">
    </div>
</div>

<script src="__ADMIN__/layui/layui.js"></script>
<script>
    layui.config({
        base: '__ADMIN__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'upload'], function(){
        var $ = layui.$
            ,form = layui.form
            ,upload = layui.upload ;
        // form.on('submit(app-user-manage-submit)', function(data){
        //      alert(242323);return false;
        //
        // })

        form.on('select(channel_id)',function (data) {
            console.log(data.value)
            $.post("{:url('pay/getAccountList')}",{cnl_id:data.value},function(result){
                console.log(result)
                var optionString = '';
                $.each(result.data,function (i,item) {
                    optionString += '<option value = "'+item.id+'"> '+item.name+' </option> ';
                });
                $("#account_id").html(optionString)
                form.render("select")
            });

        });

    })



</script>
</body>
</html>