{include file="common/common_header" /}
{include file="common/common_menu" /}
<link rel="stylesheet" href="__MS__/layui/css/layui.css">
<!--页面主要内容-->
<main class="lyear-layout-content">

    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-toolbar clearfix">

                        <form class="form-inline pull-right " method="get" action="#!" role="form">

                            <div class="form-group">
                                <label class="sr-only" for="account">收款账号</label>
                                <input class="form-control" type="text" id="account_name" name="account_name" value="{:input('account_name','','trim')}"  placeholder="请输入收款账号">
                            </div>

                            <div class="form-group">
                                <label class="sr-only" >搜索</label>
                                <button class="btn btn-primary form-control" type="submit">搜索</button>
                            </div>

                            <div class="form-group">
                                <label class="sr-only" >重置</label>
                                <a href="{:url('User/ewm')}" class="btn btn-danger form-control" type="reset">重置</a>
                            </div>
                        </form>
                        <div class="toolbar-btn-action">
                            <a class="btn btn-primary m-r-5" href="{:url('add?pay_code='.$pay_code)}"><i class="mdi mdi-plus"></i> 新增</a>
                        </div>
                        {if $pay_code eq 'kzk'}
                        <div>
                            <br>
                            <p>监控栏服务器地址：<span id="target" style="color: green;font-size: 20px">{$apiurl}</span>
<!--                                <button class="btn btn-primary" onclick="JavaScript:copyadds()" id="copy_btn">点击复制</button>-->

                                <button class="btn btn-primary copy1" data-clipboard-text="{$apiurl}" onclick="copy_txt('copy1')">点击复制</button>

                            </p>
                            <p>将上面网络地址全部复制输入至监控apk服务器地址栏内</p>
                            <p style="color: red">重要：<span style="font-size: 20px">切勿泄露地址。否则后果自负！！！</span></p>
                        </div>
                        {/if}
                        <div>
                            <br>
                            <p>收款账户: <span style="color: red">{$codeSum}</span>个，账户开启总数: <span style="color: red">{$codeOnSum}</span>个</p>


                        </div>
                    </div>

                    <div class="card-body">

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>收款编号</th>
                                    <th>收款通道</th>
<!--                                    <th>用户名</th>-->
                                    <th style="width: 10%">收款账号</th>
                                    {if $pay_code eq 'kzk'}
				    <th style="width: 10%">余额(来自短信)</th>
                                    {/if}
				    <th style="width: 10%">其它信息</th>
                                    <th>收款笔数</th>
                                    <th>账号状态</th>

                                    <th>添加时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {foreach $list as $v}
                                <tr>
<!--                                    <td style="font-size:10px;">-->
<!--                                        {if condition ="$v['queen_postion']>2000000000"  }-->
<!--                                        &#45;&#45;暂未进入排队&#45;&#45;-->
<!--                                        {elseif condition="$v['queen_postion']"}-->
<!--                                        第 <span style="color: green;font-weight: bold">{$v['queen_postion']}</span> 位-->
<!--                                        {else /}-->
<!--                                        &#45;&#45;暂未进入排队&#45;&#45;-->
<!--                                        {/if}-->
<!--                                    </td>-->
                                    <td style="width: 5%; color: red "><?php echo $v['id'];?></td>
                                    <td style="width: 10%; color: red "><?php echo $v['name'];?></td>
<!--                                    <td style="font-size:18px; color: red "><?php echo $v['user_name'];?></td>-->

                                    <td style=" width: 15%; color: red ">
                                        {if condition="$pay_code eq 'alipaySmallPurse' || $pay_code eq 'alipayCode'"}
                                        收款人:<?php echo $v['account_name'];?><br>
                                        收款账号:<?php echo $v['bank_name'];?>
                                        {else /}
                                        收款方:<?php echo $v['bank_name'];?> <br>
                                        收款人:<?php echo $v['account_name'];?><br>
                                        收款账号:<?php echo $v['account_number'];?>
                                        {/if}
                                    </td>
                                    {if $pay_code eq 'kzk'}
                             <td style=" width: 5%; color: green ">
                                 <?php echo $v['balance'];?>
                                </td>
                                    {/if}
				    <td style=" width: 10%; color: red ">
                                        日限额:<?php echo $v['limit__total'];?><br>
                        单笔最小:<?php echo $v['min_money'];?><br>
                        单笔最大:<?php echo $v['max_money'];?>
                                    </td>
                                    <td style="font-size:10px;">
                                        {if condition="$v.success_order_num eq 0"}
                                            不限制
                                        {else/}
                                        {$v.success_order_num}
                                        {/if}
                                    </td>
                                    <?php  $statusMsg=['已禁用','使用中']; $paystatusMsg=['允许支付','<span style="color:red">支付暂用中</span>'];?>
                                    <td style="font-size:10px;">
                                        <div class="layui-form">

                                            <input type="checkbox" id="editStatus" name="editStatus" lay-filter="editStatus" coid={$v.id} lay-skin="switch" code_status={$v.status} lay-text="开|关" {$v.status == 1 ? 'checked':''} />

                                        </div>

                                    </td>
                                    <td style="font-size:10px;"><?php echo date('Y-m-d H:i:s',$v['create_time']) ;?></td>
                                    <td style="font-size:10px;">
                                        <a   class="btn btn-xs btn-success"  href="{:url('PayOrder/lists',['code_id'=>$v['id']])}" >查看订单</a>
                                        <a   class="btn btn-xs btn-success" onclick="edirxiane('{$v['id']}', {$v['limit__total']}, {$v['max_money']}, {$v['min_money']});" >修改限额</a>
                                        <!--<a href="<?php echo url('User/ewminfo',array('id'=>$v['id']));?>" style="font-size:12px;cursor:pointer;">修改 ||</a>-->
                                        <a   class="btn btn-xs btn-success" onclick="edit_order_num('{$v['id']}',{$v['success_order_num']});" >修改收款笔数</a>

                                        <a   class="btn btn-xs btn-danger"  href="{:url('PayCode/del',['id'=>$v['id']])}" >删除</a>
                                    </td>

                                </tr>
                                {/foreach}


                                </tbody>
                            </table>
                        </div>
                        {$page}


                    </div>
                </div>
            </div>

        </div>

    </div>

</main>
<!--End 页面主要内容-->
</div>
</div>

{include file="common/common_js" /}
<script type="text/javascript" src="__MS__/layui//layui.js"></script>
<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;
        //监听提交
        form.on('switch(editStatus)',function (data) {
            //获取所需属性值
            var status = data.elem.attributes['code_status'].nodeValue;
            var coid = data.elem.attributes['coid'].nodeValue;
            // console.log(coid)
            $.ajax({
                // url:'paycode/disactiveCode?coid=' + coid,
                url:"{:url('pay_code/disactiveCode')}?coid=" + coid,
                method:'post',
                data:{status:status},
                success:function(res){
                    if(res.code == 1){
                        layer.msg('操作成功',{icon:1,time:1500})
                        // table.reload('app-uid-list');
                    }else{
                        layer.msg('操作失败',{icon:2,time:1500})
                    }
                }
            })
        })


    });
</script>
<script type="text/javascript" src="__MS__/js/clipboard.min.js"></script>
<script type="text/javascript">
    $(function(){
        $('.search-bar .dropdown-menu a').click(function() {
            var field = $(this).data('field') || '';
            $('#search-field').val(field);
            $('#search-btn').html($(this).text() + ' <span class="caret"></span>');
        });
    });

      function copy_txt(id) {
            var clipboard = new ClipboardJS('.'+id);
            clipboard.on('success', function(e) {
                alert("复制成功",1500)
                e.clearSelection();
            });
            clipboard.on('error', function(e) {
                alert("复制失败，请手动复制",1500)
            });
        }





    function  openpic(pic, width=400, height=400) {
        $.alert({
            title: '查看二维码',
            content: '<div id="qrImg" style="max-width: '+width+'px;max-height: '+height+'px;" ></div> <script type="text/javascript">getQrcode("'+pic+'","100%","100%"); ',
            buttons: {
                confirm: {
                    text: '确认',
                    btnClass: 'btn-primary',
                    action: function(){
                        // $.alert('你点击了确认!');
                    }
                },

            }
        });




    }


    //生成二维码
    function getQrcode(url,qrcode_with,qrcode_height){
        $("#qrImg").qrcode({
            render: "canvas",
            width:300,
            height:300,
            text: decodeURIComponent(url)
        });
        $('#img-load').hide();
        $('#qrImg').find('canvas').css({'width':qrcode_with,'height':qrcode_height});
    }


    /**
     * 修改限额
     * @param code_id
     * @param width
     * @param height
     */
    function edirxiane(code_id, limit_total, max_money, min_money) {
        jconfirm.defaults = {
            cancelButton: '取消',
        };

        $.confirm({

            title: '',
            content: '' +
                '<form action="" class="formName">' +
                '<div class="form-group">' +
                '<label>日限额</label>' +
                '<input type="text" placeholder="日限额" class="name form-control" id="limit__total" name="limit__total" value="'+limit_total+'"/>' +
                '<label>单笔最大</label>' +
                '：<input type="text" placeholder="单笔最大" class="name form-control" id="max_money" name="max_money" value="'+max_money+'"/>' +
                '<label>单笔最小</label>' +
                '<input type="text" placeholder="单笔最小" class="name form-control" id="min_money" name="min_money" value="'+min_money+'"/>' +
                '</div>' +
                '</form>',
            buttons: {
                formSubmit: {
                    text: '提交',
                    btnClass: 'btn-blue',
                    action: function () {
                        var limit__total = this.$content.find('#limit__total').val();
                        var max_money = this.$content.find('#max_money').val();
                        var min_money = this.$content.find('#min_money').val();
                        var sendRes = "{:url('editXiane')}?id=" + code_id + "&limit__total=" + limit__total+ "&max_money=" + max_money+ "&min_money=" + min_money;
                        ajaxUrl(sendRes)
                    }
                },
                '取消': function () {
                    //close

                },
            },
            onContentReady: function () {
                // bind to events
                var jc = this;
                this.$content.find('form').on('submit', function (e) {
                    // if the user submits the form by pressing enter in the field.
                    e.preventDefault();
                    jc.$formSubmit.trigger('click'); // reference the button and click it
                });
            }
        });



    }

    /**
     * 修改收款笔数
     */
    function edit_order_num(code_id,success_order_num){
        $.confirm({
            title: '',
            content: '' +
                '<form action="" class="formName">' +
                '<div class="form-group">' +
                '<label>收款笔数限制</label>' +
                '<input type="number" min="0" placeholder="请输出收款笔数限制" class="success_order_num form-control" value="' + success_order_num +'" required />' +
                '</div>' +
                '</form>',
            buttons: {
                formSubmit: {
                    text: '提交',
                    btnClass: 'btn-blue',
                    action: function () {
                        var success_order_num = this.$content.find('.success_order_num').val();
                        if(!success_order_num){
                            $.alert('笔数限制不可为空');
                            return false;
                        }
                        if(success_order_num < 0){
                            $.alert('笔数限制最小为0');
                            return false;
                        }

                        var sendRes = "{:url('edit_order_num')}?id=" + code_id + "&success_order_num=" + success_order_num;
                        ajaxUrl(sendRes)
                    }
                },
                '取消': function () {
                    //close
                },
            },
            onContentReady: function () {
                // bind to events
                var jc = this;
                this.$content.find('form').on('submit', function (e) {
                    // if the user submits the form by pressing enter in the field.
                    e.preventDefault();
                    jc.$formSubmit.trigger('click'); // reference the button and click it
                });
            }
        });
    }


</script>
</body>
</html>
