<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>修改安全码 - 服务商信息 - 码商管理后台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {include file="/common/link"}
</head>
<style>
    html, body {
        background: #ffffff;
    }
</style><body>
<div class="layuimini-container">

    <div class="layui-bg-red layui-code" role="alert">为了账户安全考虑，需要设置安全码</div>
    <div id="app-form" class="layui-form layuimini-form">
        {if condition="$data['security_pwd'] neq ''"}
        <div class="layui-form-item">
            <label class="layui-form-label required">旧安全码</label>
            <div class="layui-input-block">
                <input type="password" name="old_security" class="layui-input" lay-verify="required" lay-reqtext="请输入旧安全码" placeholder="请输入旧安全码" value="">
                <tip>填写旧安全码。</tip>
            </div>
        </div>
        {/if}

        <div class="layui-form-item">
            <label class="layui-form-label required">新安全码</label>
            <div class="layui-input-block">
                <input type="password" name="security" class="layui-input" lay-verify="required" lay-reqtext="请输入新安全码" placeholder="请输入新安全码" value="">
                <tip>填写新的安全码。</tip>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">确认新安全码</label>
            <div class="layui-input-block">
                <input type="password" name="re_security" class="layui-input" lay-verify="required" lay-reqtext="请确认新安全码" placeholder="请确认新安全码" value="">
                <tip>确认新的安全码。</tip>
            </div>
        </div>

        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit lay-filter="save_form_1">确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </div>
</div>
{include file="common/js"}

</body>
</html>
<script>
    layui.use('table', function(){
        var table = layui.table,
            form = layui.form,
            $ = layui.jquery,
            u = layui.util;
        //监听提交
        form.on('submit(save_form_1)', function(data){
            var field = data.field;
            // return false;
            $.post("{:url('servers/editPayPass')}",field,function (res){
                if (res.code == 1){
                    layer.msg(res.msg,{icon:1,time:1500},function (){
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index); //再执行关闭
                    })
                }else{
                    layer.msg(res.msg,{icon:2,time:1500},function (){
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index); //再执行关闭
                    })
                }
            })
        });
    })
</script>
