

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>狂神科技|狂神聚合支付 - 后台管理 - 添加通道</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/public/static/member/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="/public/static/member/css/public.css" media="all">
</head>
<body style="background: #ffffff">

<div class="layui-form layuimini-form">

    <div class="layui-form-item">
        <label class="layui-form-label required">银行信息</label>
        <div class="layui-input-block">
            <section>
                <input type="hidden" name="pay_code" id="{$code}" value="{$code}">
                <input type="text" list="ygs"  class="layui-input" lay-verify="required" id="bank__name" required name="bank_name" value="" autocomplete="off"  placeholder="请输入开户行名称 （可下拉选择，如下拉没有可手动输入）" />
                <span style="color: red">如需自动回调，请务必选择下拉框内模板！</span>
                <!--                                        <input type="text" name="yg" list="ygs" id="yg">-->
                <datalist id="ygs">
                    {volist name="banksList" id="vo"}
                    <option value="{$vo.source}"></option>
                    {/volist}
                </datalist>
            </section>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">开户姓名</label>
        <div class="layui-input-block">
            <input type="text" name="account_name" lay-verify="required" placeholder="请输入开户姓名" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">开户卡号</label>
        <div class="layui-input-block">
            <input type="text" name="account_number" lay-verify="required" placeholder="请输入开户卡号" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">最小金额</label>
        <div class="layui-input-block">
            <input type="text" name="min_money" placeholder="单笔最小金额" autocomplete="off" class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">最大金额</label>
        <div class="layui-input-block">
            <input type="text" name="max_money" placeholder="单笔最大金额" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">日限额</label>
        <div class="layui-input-block">
            <input type="text" name="limit__total" placeholder="请输日限额" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">笔数上限</label>
        <div class="layui-input-block">
            <input type="text" name="success_order_num" lay-verify="required" placeholder="收款笔数上限 -（为0则不限制）" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">安全码</label>
        <div class="layui-input-block">
            <input type="password" name="security" lay-verify="required" placeholder="请输入安全码" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="app-channel-kzk-submit" id="app-channel-kzk-submit" value="确认">
    </div>
</div>

<script src="/public/static/member/lib/layui-v2.6.3/layui.js"></script>
<script>
    layui.use('table', function(){
        var table = layui.table,
            form = layui.form;
    })
</script>
</body>
</html>
