<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> - 码商管理后台</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/public/static/member/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="/public/static/member/style/admin.css" media="all">
  <style>
    th.layui-table-patch{
      padding: 0 !important;
    }
  </style>
</head>
<body layadmin-themealias="default">


<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-card-body">
      <fieldset id="searchFieldset_currentTableRenderId" class="table-search-fieldset layui-hide1">
        <legend>高级搜索</legend>
        <form class="layui-form layui-form-pane form-search">
          <div class="layui-form-item layui-inline">
            <label class="layui-form-label">通道名称</label>
            <div class="layui-input-inline">
              <input id="c-product_name" name="product_name" data-search-op="%*%" value="" placeholder="请输入通道名称" class="layui-input">
            </div>
          </div>	<div class="layui-form-item layui-inline">
          <label class="layui-form-label">通道编码</label>
          <div class="layui-input-inline">
            <input id="c-product_code" name="product_code" data-search-op="%*%" value="" placeholder="请输入通道编码" class="layui-input">
          </div>
        </div>	<div class="layui-form-item layui-inline">
          <label class="layui-form-label">创建时间</label>
          <div class="layui-input-inline">
            <input id="c-create_time" name="create_time" data-search-op="range" value="" placeholder="请输入创建时间" class="layui-input" autocomplete="off" lay-key="1">
          </div>
        </div><div class="layui-form-item layui-inline" style="margin-left: 115px">
          <button type="submit" class="layui-btn layui-btn-normal" data-type="tableSearch" data-table="currentTableRenderId" lay-submit="" lay-filter="currentTableRenderId_filter"> 搜 索</button>
          <button type="reset" class="layui-btn layui-btn-primary" data-table-reset="currentTableRenderId"> 重 置 </button>
        </div></form></fieldset>
      <table class="layui-hide" id="test"></table>
    </div>
  </div>
</div>


<script src="/public/static/member/layui/layui.js"></script>


<script>
  layui.use('table', function(){
    var table = layui.table;

    table.render({
      elem: '#test'
      // ,url:'/static/json/table/user.json'
      ,page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
        layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
        //,curr: 5 //设定初始在第 5 页
        ,groups: 1 //只显示 1 个连续页码
        // ,first: false //不显示首页
        // ,last: false //不显示尾页
      }
      // ,cellMinWidth: 80
      ,cols: [[
        // {field:'id', width:80, title: 'ID', sort: true}
        {field:'username', width:100, title: '服务商名称'}
        // ,{field:'sex', title: '编号'}
        // ,{field:'city', title: '登录账户'}
        ,{field:'sign', width:100, title: '通道名称'}
        ,{field:'experience', width:100, title: '通道编码'}
        ,{field:'score', width:100, title: '通道模式'}
        ,{field:'classify', width:100, title: '费率类型'}
        ,{field:'ky', width:100, title: '费率(%)'}
        ,{field:'cj', width:200, title: '创建时间'}
      ]]
      ,data: [
        {
          username: 'TA', sign: '支付宝UID',
          experience: 'QX130636', score: 'h5', classify: '固定费率', ky: '6.50 %',cj: '2022-11-02 11:25:23'
        }
      ]
    });
  });
</script>

</body>
</html>
