<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>支付宝口令红包 - 码商管理后台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {if condition="$Think.cookie.yhk_order_refresh eq 1"}
    <meta http-equiv="refresh" content="30">
    {/if}
    {include file="/common/link"}

    <style>
        .layui-card-body fieldset {
            margin: 0;
            border: 1px solid #e6e6e6;
            padding: 10px 20px 5px 20px;
            color: #6b6b6b;
        }

        .layui-card .layui-table-view {

            margin-top: 10px;
        }

        .layui-table-cell {
            height: auto;
            overflow: visible;
            text-overflow: inherit;
            white-space: normal;
            word-break: break-all;
        }  </style>
</head>
<body layadmin-themealias="default">

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">

            <div class="layui-container">

                <div class="layui-row">

                    <div class="layui-col-md2">
                        <div class="grid-demo grid-demo-bg1">

                            <div class="panel-body">
                                <div class="panel-title">
                                    <h5>今日收款笔数</h5>
                                </div>
                                <div class="panel-content">
                                    <h1 class="no-margins count_all_suc_count">{$head_data.today_sk}</h1>
                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="layui-col-md2">
                        <div class="grid-demo grid-demo-bg1">

                            <div class="panel-body">
                                <div class="panel-title">
                                    <h5>今日收款总额</h5>
                                </div>
                                <div class="panel-content">
                                    <h1 class="no-margins count_all_suc_money">{$head_data.today_sk_ze}</h1>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="layui-col-md2">
                        <div class="grid-demo">
                            <div class="panel-body">
                                <div class="panel-title">
                                    <h5>今日提成</h5>
                                </div>
                                <div class="panel-content">
                                    <h1 class="no-margins count_all_receive_money">{$head_data.today_tc}</h1>
                                </div>
                            </div>


                        </div>
                    </div>
                    <!--
                    <div class="layui-col-md2">
                        <div class="grid-demo grid-demo-bg1">

                            <div class="panel-body">
                                <div class="panel-title">
                                    <h5>成功率（%）</h5>
                                </div>
                                <div class="panel-content">
                                    <h1 class="no-margins count_succ_percent">0.00%</h1>
                                </div>
                            </div>



                        </div>
                    </div>-->

                    <div class="layui-col-md2">
                        <div class="grid-demo grid-demo-bg1">

                            <div class="panel-body">
                                <div class="panel-title">
                                    <h5>总押金</h5>
                                </div>
                                <div class="panel-content">
                                    <h1 class="no-margins count_total_deposit_balance">{$head_data.total_yj}</h1>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="layui-col-md2">
                        <div class="grid-demo grid-demo-bg1">

                            <div class="panel-body">
                                <div class="panel-title">
                                    <h5>可用接单押金</h5>
                                </div>
                                <div class="panel-content">
                                    <h1 class="no-margins count_avariable_deposit_balance">{$head_data.normal_yj}</h1>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="layui-col-md2">
                        <div class="grid-demo grid-demo-bg1">

                            <div class="panel-body">
                                <div class="panel-title">
                                    <h5>最低接单押金</h5>
                                </div>
                                <div class="panel-content">
                                    <h1 class="no-margins count_acceptorder_min">{$head_data.lowest_yj}</h1>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="layui-col-md2">
                        <div class="grid-demo grid-demo-bg1">

                            <div class="panel-body">
                                <div class="panel-title">
                                    <h5>在线人数</h5>
                                </div>
                                <div class="panel-content">
                                    <h1 class="no-margins count_queue_participant">{$head_data.online_num}</h1>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--  <div class="layui-col-md2">
                        <div class="grid-demo grid-demo-bg1">

                          <div class="panel-body">
                            <div class="panel-title">
                              <h5>下次接单账号</h5>
                            </div>
                            <div class="panel-content">
                              <h1 class="no-margins count_next_receive_groupname"></h1>
                            </div>
                          </div>
                        </div>
                      </div>-->

                    <!--    <div class="layui-col-md2">
                          <div class="grid-demo grid-demo-bg1">

                            <div class="panel-body">
                              <div class="panel-title">
                                <h5>排队位置</h5>
                              </div>
                              <div class="panel-content">
                                <h1 class="no-margins count_position_participant">-</h1>
                              </div>
                            </div>
                          </div>
                        </div>-->

                    <div class="layui-col-md2">
                        <div class="grid-demo grid-demo-bg1">

                            <div class="panel-body">
                                <div class="panel-title">
                                    <h5>接单</h5>
                                </div>
                                <div class="panel-content">
                                    <form class="layui-form">
                                        <span id="channel_open_chk">
                                            <input type="checkbox" name="is_receive_order" value="1" lay-skin="switch" lay-text="开启接单|关闭接单"
                                                   lay-filter="editMsWorkStatus" {if condition="$head_data.work_status == 1"}checked{/if}>
                                            <div class="layui-unselect layui-form-switch"
                                                 lay-skin="_switch"><em>关闭接单</em><i></i>
                                            </div>
                                        </span>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <fieldset id="searchFieldset_currentTableRenderId" class="table-search-fieldset layui-hide1">
                <legend>高级搜索</legend>
                <form class="layui-form layui-form-pane form-search">
                    <div class="layui-form-item layui-inline">
                        <label class="layui-form-label">订单号</label>
                        <div class="layui-input-inline">
                            <input id="c-order_no" name="order_no" data-search-op="=" value=""
                                   placeholder="请输入订单号" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-inline">
                        <label class="layui-form-label">账号名称</label>
                        <div class="layui-input-inline">
                            <input id="c-gema_username" name="gema_username" data-search-op="=" value=""
                                   placeholder="请输入账号名称" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-inline">
                        <label class="layui-form-label">付款人姓名</label>
                        <div class="layui-input-inline">
                            <input id="c-pay_username" name="pay_username" data-search-op="%*%" value=""
                                   placeholder="请输入付款人姓名" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-inline">
                        <label class="layui-form-label">订单金额</label>
                        <div class="layui-input-inline">
                            <input id="c-order_price" name="order_price" data-search-op="=" value=""
                                   placeholder="请输入订单金额" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-inline">
                        <label class="layui-form-label">开始时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="start_time" class="layui-input app-laydate-item" placeholder="yyyy-MM-dd HH:mm:ss">
                        </div>
                    </div>
                    <div class="layui-form-item layui-inline">
                        <label class="layui-form-label">结束时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="end_time" class="layui-input app-laydate-item" placeholder="yyyy-MM-dd HH:mm:ss">
                        </div>
                    </div>
                    <div class="layui-form-item layui-inline">
                        <label class="layui-form-label">订单状态</label>
                        <div class="layui-input-inline">
                            <select class="layui-select" id="c-status" name="status"
                                    data-search-op="=">
                                <option value="-1">- 全部 -</option>
                                <option value="0">待支付</option>
                                <option value="1">已支付</option>
                                <option value="2">已关闭</option>
                                <option value="3">已退款</option>
                                </select>

                        </div>
                    </div>

                    <div class="layui-form-item layui-inline" style="margin-left: 115px">
                        <button type="submit" class="layui-btn layui-btn-normal" data-type="tableSearch"
                                data-table="currentTableRenderId" lay-submit
                                lay-filter="order-search"> 搜 索
                        </button>
                        <button type="reset" class="layui-btn layui-btn-primary"
                                data-table-reset="currentTableRenderId"> 重 置
                        </button>
                    </div>
                </form>
            </fieldset>


            <table class="layui-hide" id="payOrderList" lay-filter="payOrderListFilter"></table>
        </div>
    </div>
</div>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm layui-bg-cyan" lay-event="refresh">刷新订单</button>
        <button class="layui-btn layui-btn-sm" lay-event="export">导出</button>
        <input type="checkbox" lay-skin="switch" lay-filter="auto-refresh"  lay-text="自动刷新开|自动刷新关"
               {if condition="$Think.cookie.yhk_order_refresh eq 1"}checked{/if} >
    </div>
</script>

<script type="text/html" id="table-order">
    {{#  if(d.status != 1 && d.status!=2 && d.status!=3) { }}
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="issueOrder">确认收款</a>
    {{# } }}
</script>
<script src="/public/static/member/lib/layui-v2.6.3/layui.js"></script>


<script>
    layui.use(['table', 'form', 'laydate'], function () {
        var   table = layui.table,
                $ = layui.$,
                laydate = layui.laydate,
                form = layui.form;
        table.render({
            elem: '#payOrderList'
            , url: "/member/pay/lists?pay_code={:input('pay_code')}&code_id={:input('code_id')}"
            , defaultToolbar: []
            , toolbar: '#toolbarDemo'
            , page: true
            , response: {statusCode: 1}
            , cols: [[
                {field: 'account_name',align:"center" , title: '支付宝昵称'}
                , {field: 'bank_name',align:"center" , title: '支付宝账号'}
                ,{field: 'order_no', width: 180, align:"center" ,title: '订单号'}
                , {field: 'order_price', width: 120,align:"center" , title: '订单金额'}
                , {field: 'order_pay_price', width: 150, align:"center" ,title: '实际支付金额'}
                , {field: 'add_time', width: 180, align:"center" ,title: '创建时间'}
                , {field: 'pay_time', width: 180, align:"center" ,title: '支付时间'}
                // , {field: 'pay_username', width: 100, title: '付款人姓名'}
                , {field: 'note',align:"center" , title: '订单备注'}
                , {
                    field: 'status', width: 200, align:"center" ,title: '订单状态', templet: function (d) {
                        var html = '';
                        if (d.status == 0) {
                            html = ' <button type="button"   class="layui-btn layui-btn-primary layui-btn-xs">未支付</button>';
                        } else if (d.status == 1) {
                            html = '<button type="button"  class="layui-btn layui-btn-xs">已支付</button>';
                        } else if (d.status == 2) {
                            html = '  <button type="button"   class="layui-btn layui-btn-warm layui-btn-xs">已关闭</button>';
                        } else if (d.status == 3) {
                            html = '<button type="button"   class="layui-btn layui-btn-disabled layui-btn-xs">已退款</button>'
                        } else {
                            return '无';
                        }
                        return html;

                    }
                }
                , {width: 200, title: '操作',align:"center" , toolbar: "#table-order"}
            ]]
            , done: function (res, curr, count) {
                // console.log(res)
                //解决操作栏因为内容过多换行问题
                $(".layui-table-main tr").each(function (index, val) {
                    $($(".layui-table-fixed-l .layui-table-body tbody tr")[index]).height($(val).height());
                    $($(".layui-table-fixed-r .layui-table-body tbody tr")[index]).height($(val).height());
                });
            }
        });
        table.on('tool(payOrderListFilter)', function (obj) {
            if (obj.event === 'issueOrder') {  // 监听添加操作
                layer.prompt({
                    formType: 1
                    , title: '请输入请输入安全码'
                }, function (value, index) {
                    layer.close(index);
                    $.ajax({
                        url: "issueOrder",
                        method: 'POST',
                        data: {pass: value, id: obj.data.id, pay_code: "{:input('pay_code')}"},
                        success: function (res) {
                            if (res.code == 1) {
                                table.reload('payOrderList');
                            }
                            layer.msg(res.msg, {icon: res.code == 1 ? 1 : 2, time: 1500});
                            layer.close(index); //关闭弹层
                        }
                    });
                });
            }
        });
        form.on('submit(order-search)', function (data) {
            table.reload('payOrderList', {
              page: {
                curr: 1
              }
              , where: data.field
            }, 'data');
            return false;
      });
        form.on('switch(auto-refresh)', function (data) {
            $.ajax({
                url:"/member/Pay/yhk_order_refresh?pay_code=" + "{:input('pay_code')}",
                data:{status: data.elem.checked ? 1 : 0},
                method:'post',
                success:function(res){
                    window.location.reload();
                }
            });
        });
        form.on('switch(editMsWorkStatus)',function (data) {
            $.ajax({
                url:"{:url('servers/edit_work_status')}",
                method:'post',
                data:{status:data.elem.checked ? 0 : 1},
                success:function(res){
                    if(res.code == 1){
                        layer.msg('操作成功',{icon:1,time:1500},function (){
                            window.location.reload();
                        })
                    }else{
                        layer.msg('操作失败',{icon:2,time:1500}),function (){
                            window.location.reload();
                        }
                    }
                }
            })
        });
        table.on('toolbar(payOrderListFilter)', function (obj) {
          if (obj.event === 'refresh') {
                table.reload('payOrderList'); //数据刷新
          } else if (obj.event === 'export'){
                var locationUrl = "/member/pay/exportOrder?pay_code={:input('pay_code')}";
                var urlParams = layui.$('.layui-form').find('select,input[type=\'text\']').serialize();
                window.location.href = locationUrl + '&' + urlParams;
          }
        });
        lay('.app-laydate-item').each(function(k,v){
            var  timestamp=(k==0)?' 00:00:00':" 00:00:00";
            var date=new Date();
            date.setHours('00');date.setMinutes('00');date.setSeconds('00');
            if(k==1){
                date.setHours('23');date.setMinutes('59');date.setSeconds('59');
            }
            laydate.render({
                elem: this,
                format: 'yyyy-MM-dd',type:'datetime'
                ,istime:false
                ,value:date
                ,trigger: 'click'
            });
        });
    });
</script>

</body>
</html>
